@import "../../view/variables.scss";

.hr-hf-wrap {
    position: relative;
    padding: 1px;
}

.hr-hf-tab-control {
    background: $yellow;
    color: $grey-darker;
    font-weight: bold;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: $radius;
    width: 30px;
    cursor: pointer;
}

.hr-hf-area {
    border: 1px solid $grey-lighter;
    border-radius: $radius;
    padding: 15px 15px 5px 15px;
    margin-bottom: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.hr-hf-tab {
    border: 1px solid $grey-lighter;
    border-radius: $radius;
    padding: 6px;
    background: $white;
    margin-right: 2px;
    cursor: pointer;
}

.hr-hf-tab-active {
    background-color: $grey-lighter;
    color: $black-ter;
    border: 1px solid transparent;
}

.hr-hf-f-area-label-wrap {
    margin-top: -24px;
    display: flex;
    align-items: center;
}

.hr-hf-f-area-label-dummy {
    height: 10px;
}

.hr-hf-f-area-label {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    background: $white;
    font-size: .75em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $grey;
    border-bottom: 1px solid $grey-lighter;
    border-radius: $radius-large;
}

.hr-hf-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($white, 0.8);
    z-index: 40;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr-hf-loader {
    width: 40px;
    height: 40px;
    position: relative;
    animation: hr-hf-loader 2.5s infinite linear both;
}

.hr-hf-loader-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: hr-hf-loader-dot 2.0s infinite ease-in-out both;
}

.hr-hf-loader-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: $grey;
    border-radius: 100%;
    animation: hr-hf-loader-dot-before 2.0s infinite ease-in-out both;
}

.hr-hf-loader-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.hr-hf-loader-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.hr-hf-loader-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.hr-hf-loader-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.hr-hf-loader-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.hr-hf-loader-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.hr-hf-loader-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.hr-hf-loader-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.hr-hf-loader-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.hr-hf-loader-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.hr-hf-loader-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.hr-hf-loader-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

.hr-hf-form {
    user-select: none;
}

@keyframes hr-hf-loader {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hr-hf-loader-dot {

    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hr-hf-loader-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1.0);
    }
}