<email-template>
    <email-paragraph>
        ${input.t("restorePasswordMailText")}
    </email-paragraph>
    <email-paragraph>
        ${input.t("restorePasswordMailNotice")}
    </email-paragraph>
    <email-button href=`${input.activationUrl}`>${input.t("restorePasswordMailButton")}</email-button>
</email-template>
