@import "~styles/variables.scss";

.heretic2faImageWrap {
    margin-top: 7px;
}

.heretic2faImageWrap>svg {
    width: 120px;
    height: 120px;
}

.heretic2faSecretWrap {
    // padding: 10px;
    // border: 1px solid $grey-lightest;
    // background: $white-ter;
    // border-radius: $radius;
    user-select: text;
    font-family: monospace, monospace;
}

.heretic2faSecretWrap:hover {
    box-shadow: unset !important;
    border-color: $grey-lighter !important;
}

html.heretic-dark .heretic2faSecretWrap {
    background-color: $black-ter;
    border-color: $grey !important;
    color: $grey-lighter;
}

.hr-copy-icon>svg>path {
    fill: $grey !important;
}

.hr-copy-icon {
    display: inline-flex;
    align-self: center;
}

.hr-copy-icon svg {
    height: 16px;
    width: 16px;
    top: 0px;
    position: relative;
}

.profilePictureWrap {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: $grey-lightest;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    background-image: url(./profile.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    margin-top: 10px;
}

.profilePictureWrapIcon {
    width: 100%;
    background-color: $grey-lighter;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .8;
    transition: opacity .5s;
}

.profilePictureWrapIcon:hover {
    opacity: 1;
}