<email-template>
    <email-paragraph>
        ${input.t("changeEmailMailText")}
    </email-paragraph>
    <email-paragraph>
        ${input.t("changeEmailMailNotice")}
    </email-paragraph>
    <email-button href=`${input.activationUrl}`>${input.t("changeEmailMailButton")}</email-button>
</email-template>
