@import "../../../../site/view/variables.scss";

.hr-hs-wrap {
    padding: 10px;
    border: 1px solid $grey-lighter;
    border-radius: $radius;
    overflow-y: auto;
    max-height: 100px;
    height: 100px;
}