// Import variables and fonts

html,
body {
    transition: all 0.4s ease;
}

@import "./variables.scss";
@import "../core/styles/buttons.scss";
@import "../core/styles/tippy.scss";
@import "../core/styles/checkboxes.scss";
@import "../core/styles/heretic-dark.scss";

// Template-related styles

.hr-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hr-navbar {
    background: transparent !important;
}

.hr-content {
    flex: 1
}

.hr-footer {
    color: $grey-dark;
    font-size: 80%;
}

.hr-navbar-wrap {
    padding-top: 30px;
    padding-bottom: 20px;
    user-select: none;
}

.icon>svg path {
    fill: $grey-darker;
}

@media (max-width: 1023px) {

    .hr-navbar-wrap {
        padding-top: unset;
        padding-bottom: 10px;
    }

    .hr-navbar {
        background: $grey-lightest;
        margin-bottom: 15px;
    }

    .navbar-menu {
        padding: 10px;
    }

}