// Import variables and fonts

@import "./variables.scss";

// Template-related styles

.hr-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hr-content {
    flex: 1
}

.hr-footer {
    color: $grey-darker;
    font-size: 80%;
}

.hr-navbar-wrap {
    padding-top: 30px;
    padding-bottom: 20px;
}

.icon>svg path {
    fill: $grey-darker;
}

@media (max-width: 1023px) {

    .hr-navbar-wrap {
        padding-top: unset;
        padding-bottom: 10px;
    }

    .hr-navbar {
        background: $grey-lightest;
        margin-bottom: 15px;
    }

}