@import "../../../view/variables.scss";

.hr-ht-thead-tr {
    background: $grey-lightest;
}

.hr-ht-thead-move {
    width: 6px;
    height: 100%;
    background: $grey;
    margin-left: -3px;
    opacity: 0;
}

.hr-ht-thead-move:hover {
    opacity: 0.9;
}

.hr-ht-dummy {
    width: 100%;
    height: 1px;
}

.hr-ht-thead-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    font-weight: 600 !important;
    font-size: 98%;
}

.hr-ht-thead {
    user-select: none;
}

.hr-ht-scroll-wrapper {
    overflow-x: auto;
    width: 100%;
    height: 20px;
}

.hr-ht-action-button {
    border-radius: 50% !important;
    height: 29px !important;
}

.hr-ht-action-button:disabled {
    opacity: 0 !important;
    cursor: unset !important;
}

.hr-ht-action-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-action-icon svg {
    height: 13px;
    width: 13px;
    top: 1px;
    position: relative;
}

.hr-ht-settings-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-settings-icon svg {
    height: 24px;
    width: 24px;
    top: 1px;
    position: relative;
}

.hr-ht-action-icon svg>path {
    fill: $grey-darker !important;
}

.hr-ht-action-icon-danger svg>path {
    fill: $white !important;
}

.hr-ht-top-button-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-top-button-icon svg {
    height: 16px;
    width: 16px;
    top: 0px;
    position: relative;
}

.hr-ht-top-button-icon svg>path {
    fill: $grey-darker !important;
}

.hr-ht-top-info-icon {
    display: inline-flex;
    align-self: center;
    margin-left: 1px !important;
}

.hr-ht-top-info-icon svg {
    height: 15px;
    width: 15px;
    top: 1px;
    position: relative;
}

.hr-ht-top-info-icon svg>path {
    fill: $red !important;
    margin-left: 10px;
}

.hr-ht-top-button-icon-danger svg>path {
    fill: $white !important;
}

.hr-ht-form-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-form-icon svg {
    height: 17px;
    width: 17px;
    top: 0px;
    position: relative;
}

.hr-ht-form-icon svg>path {
    fill: $grey-light !important;
}

.hr-ht-drag-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-drag-icon svg {
    height: 18px;
    width: 18px;
    top: 2px;
    position: relative;
}

.hr-ht-drag-icon svg>path {
    fill: $grey !important;
}

.hr-ht-td {
    vertical-align: top !important;
}

.hr-ht-table-controls {
    position: absolute;
    top: 0;
    left: 0;
}

.hr-ht-wrap {
    position: relative;
    z-index: 5;
}

.hr-ht-action-cell {
    position: absolute;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    z-index: 5;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
}

.hr-ht-action-cell-buttons {
    position: absolute;
    top: 5px;
}

.hr-ht-action-cell-even {
    background: $white;
    // background: yellow;
}

.hr-ht-action-cell-odd {
    background: $white-bis;
    // background: green;
}

.hr-ht-action-cell-control {
    position: absolute;
    top: 1px;
    left: 0;
    background: $grey-lightest;
    font-weight: bold;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
    // border-right: 1px solid $grey-lighter;
    // border-left: 1px solid $grey-lighter;
}

.hr-ht-loading-wrap {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba($white, 0.7);
    z-index: 50;
}

.hr-ht-checkbox-top {
    position: absolute;
    top: 3px;
}

.hr-ht-loading {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.hr-ht-settings-body {
    margin: 0 !important;
    padding: 0 !important;
}

.hr-ht-settings-body>.tabs>ul>li.is-active {
    background: $white-bis;
}

.hr-hr-settings-switch {
    margin-top: 3px !important;
}

.hr-ht-settings-columns-row:hover,
.hr-ht-settings-filters-row:hover {
    background: $white-ter;
    border-radius: $radius;
}

.hr-ht-settings-tabs-wrap {
    border-radius: 0 !important;
    background: $white-bis !important;
}

.hr-ht-checkbox-wrap {
    padding: 11px 8px 0 8px;
}

.hr-ht-settings-columns-drop-area {
    height: 5px;
    border: 1px dashed $grey-lighter;
    background: $grey-lightest;
}

.hr-ht-settings-columns-drop-area-over {
    background: $yellow;
} 

.hr-hr-settings-tabs {
    margin: 5px 5px 0 5px !important;
}

.hr-hr-settings-tabs {
    height: 40px;
}

.hr-hr-settings-tabs>ul {
    position: absolute;
    top: 5px;
}

.hr-hr-settings-tabs>ul>li:not(.is-active)>a:hover {
    //border-bottom: 2px solid $grey-lighter !important;
    background: unset !important;
}

.hr-hr-settings-tabs a,
.hr-hr-settings-tabs ul {
    border-bottom-style: none !important;
}

.hr-ht-table-cell {
    min-height: 40px;
}