@import "../../../view/variables.scss";

.hr-ht-thead-tr {
    background: $grey-lightest;
}

.hr-ht-thead-move {
    width: 6px;
    height: 100%;
    background: $grey;
    margin-left: -3px;
    opacity: 0;
}

.hr-ht-thead-move:hover {
    opacity: 0.9;
}

.hr-ht-dummy {
    width: 100%;
    height: 1px;
}

.hr-ht-thead-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: clip;
    font-weight: 600 !important;
    font-size: 98%;
}

.hr-ht-thead {
    user-select: none;
}

.hr-ht-scroll-wrapper {
    overflow-x: auto;
    width: 100%;
    height: 20px;
}

.hr-ht-action-button {
    border-radius: 50% !important;
    height: 29px !important;
}

html.heretic-dark .hr-ht-action-button {
    width: 30px !important;
}

.hr-ht-action-button:disabled {
    opacity: 0 !important;
    cursor: unset !important;
}

.hr-ht-action-icon,
.hr-ht-lock-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-action-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-ht-lock-icon svg {
    height: 17px;
    width: 17px;
    top: 9px;
    left: 6px;
    position: relative;
}

.hr-ht-lock-icon>svg>path {
    fill: $grey !important;
}

.hr-ht-settings-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-settings-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-ht-action-icon svg>path {
    fill: $grey-darker !important;
}

.hr-ht-action-icon-danger svg>path {
    fill: $white !important;
}

.hr-ht-top-button-icon,
.hr-ht-top-button-submenu-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-top-button-icon svg {
    height: 16px;
    width: 16px;
    top: 0px;
    position: relative;
}

.hr-ht-top-button-icon svg>path {
    fill: $grey-darker !important;
}

.hr-ht-top-button-submenu-icon {
    margin-right: 10px;
}

.hr-ht-top-button-submenu-icon svg {
    height: 16px;
    width: 16px;
    top: 3px;
    position: relative;
}

.hr-ht-top-button-submenu-icon svg>path {
    fill: $grey !important;
}

.hr-ht-top-info-icon {
    display: inline-flex;
    align-self: center;
    margin-left: 1px !important;
}

.hr-ht-top-info-icon svg {
    height: 15px;
    width: 15px;
    top: 1px;
    position: relative;
}

.hr-ht-top-info-icon svg>path {
    fill: $primary !important;
    margin-left: 10px;
}

.hr-ht-top-button-icon-danger svg>path {
    fill: $white !important;
}

.hr-ht-form-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-form-icon svg {
    height: 17px;
    width: 17px;
    top: 0px;
    position: relative;
}

.hr-ht-form-icon svg>path {
    fill: $grey-light !important;
}

.hr-ht-drag-icon {
    display: inline-flex;
    align-self: center;
}

.hr-ht-drag-icon svg {
    height: 18px;
    width: 18px;
    top: 2px;
    position: relative;
}

.hr-ht-drag-icon svg>path {
    fill: $grey !important;
}

.hr-ht-td {
    vertical-align: top !important;
}

.hr-ht-table-controls {
    position: absolute;
    top: 0;
    left: 0;
}

.hr-ht-wrap {
    position: relative;
    z-index: 5;
}

.hr-ht-action-cell {
    position: absolute;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    z-index: 150 !important;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
}

.hr-ht-action-cell-buttons {
    position: absolute;
    top: 5px;
}

.hr-ht-action-cell-even {
    background: $white;
    // background: yellow;
}

.hr-ht-action-cell-odd {
    background: $white-bis;
    // background: green;
}

.hr-ht-action-cell-control {
    position: absolute;
    top: 1px;
    left: 0;
    background: $grey-lightest;
    font-weight: bold;
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    border-left: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
    // border-right: 1px solid $grey-lighter;
    // border-left: 1px solid $grey-lighter;
}

.hr-ht-loading-wrap {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba($white, 0.7);
    z-index: 50;
}

.hr-ht-checkbox-top {
    position: absolute;
    top: 3px;
}

.hr-ht-loading {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.hr-ht-settings-body {
    margin: 0 !important;
    padding: 0 !important;
}

.hr-ht-settings-body>.tabs>ul>li.is-active {
    background: $white-bis;
}

.hr-ht-settings-switch,
.hr-ht-export-switch {
    margin-top: 3px !important;
}

.hr-ht-settings-columns-row:hover,
.hr-ht-settings-filters-row:hover,
.hr-ht-settings-bulk-row:hover,
.hr-ht-export-columns-row:hover {
    background: $white-ter;
    border-radius: $radius;
}

html.heretic-dark .hr-ht-settings-columns-row:hover,
html.heretic-dark .hr-ht-settings-filters-row:hover,
html.heretic-dark .hr-ht-settings-bulk-row:hover,
html.heretic-dark .hr-ht-export-columns-row:hover {
    background: $heretic-dark-hover-background-color;
    border-radius: $radius;
}

.hr-hm-tabs-wrap {
    border-radius: 0 !important;
    background: $white-bis !important;
}

.hr-ht-checkbox-wrap {
    padding: 11px 8px 0 8px;
}

.hr-ht-settings-columns-drop-area,
.hr-ht-export-columns-drop-area {
    height: 5px;
    border: 1px dashed $grey-lighter;
    background: $grey-lightest;
}

html.heretic-dark .hr-ht-settings-columns-drop-area,
html.heretic-dark .hr-ht-export-columns-drop-area {
    background: $heretic-dark-item-active-background-color;
    border: 1px dashed $heretic-dark-divider-color;
}

.hr-ht-settings-columns-drop-area-over,
.hr-ht-export-columns-drop-area-over {
    background: $yellow;
}

.hr-hm-tabs {
    margin: 5px 5px 0 5px !important;
    height: 40px;
}

html.heretic-dark .hr-hm-tabs-wrap {
    background-color: $heretic-dark-item-active-background-color !important;
}

.hr-hm-tabs>ul {
    position: absolute;
    top: 5px;
}

.hr-hm-tabs>ul>li:not(.is-active)>a:hover {
    background: unset !important;
}

// html.heretic-dark .hr-hm-tabs>ul>li.is-active>a {
//     background: $heretic-dark-body-background-color !important;
// }

.hr-hm-tabs a,
.hr-hm-tabs ul {
    border-bottom-style: none !important;
}

.hr-ht-table-cell {
    min-height: 40px;
    width: 100%;
    z-index: 50 !important;
}

.hr-ht-table-cell-value-wrap {
    position: relative;
    max-width: 100%;
    padding: 0 !important;
    display: flex;
    vertical-align: text-bottom !important;
}

.hr-ht-table-cell-value {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    // text-overflow: ellipsis;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    top: 0;
    left: 0;
}

.hr-ht-table-cell-value-wrap:after,
.hr-ht-table-cell-value:after {
    content: '-';
    display: inline;
    visibility: hidden;
    width: 0;
}


.hr-ht-modal-notification {
    border-radius: 0 !important;
    padding: 10px;
}

.hr-ht-export-form-wrap {
    background: $white-ter !important;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.hr-ht-recycleBin-pagination-wrap {
    border-top: 1px solid $grey-lighter;
}

.hr-ht-recycleBin-pagination-wrap>nav {
    margin-top: 0 !important;
}

.hr-ht-recycleBin-cell {
    padding-top: 3px;
}

.hr-ht-table-cell-wrap {
    display: flex;
    flex-direction: row;
}

.hr-ht-tbody>.hr-ht-tr:nth-child(even)>.hr-ht-td>.hr-ht-table-cell-wrap>.hr-ht-table-cell-fade {
    background: linear-gradient(90deg, transparent, $white-bis);
}

.hr-ht-tbody>.hr-ht-tr:nth-child(even):hover>.hr-ht-td>.hr-ht-table-cell-wrap>.hr-ht-table-cell-fade {
    background: linear-gradient(90deg, transparent, $white-ter);
}

.hr-ht-tbody>.hr-ht-tr:nth-child(odd):hover>.hr-ht-td>.hr-ht-table-cell-wrap>.hr-ht-table-cell-fade {
    background: linear-gradient(90deg, transparent, $white-bis);
}

.hr-ht-table-cell-fade {
    margin-left: -28px;
    // background: rgba(255,0,0,0.5);
    background: linear-gradient(90deg, transparent, $white);
    // background: red;
    z-index: 100 !important;
    width: 20px;
}

html.heretic-dark .hr-ht-tbody>.hr-ht-tr:nth-child(even)>.hr-ht-td>.hr-ht-table-cell-wrap>.hr-ht-table-cell-fade {
    background: linear-gradient(90deg, transparent, $heretic-dark-table-tr-even-color);
}

html.heretic-dark .hr-ht-tbody>.hr-ht-tr:nth-child(odd)>.hr-ht-td>.hr-ht-table-cell-wrap>.hr-ht-table-cell-fade {
    background: linear-gradient(90deg, transparent, $heretic-dark-table-tr-odd-color);
}

html.heretic-dark .hr-ht-tbody>.hr-ht-tr:nth-child(even):hover>.hr-ht-td>.hr-ht-table-cell-wrap>.hr-ht-table-cell-fade {
    background: linear-gradient(90deg, transparent, $heretic-dark-table-tr-even-hover-color);
}

html.heretic-dark .hr-ht-tbody>.hr-ht-tr:nth-child(odd):hover>.hr-ht-td>.hr-ht-table-cell-wrap>.hr-ht-table-cell-fade {
    background: linear-gradient(90deg, transparent, $heretic-dark-table-tr-odd-hover-color);
}

html.heretic-dark .hr-ht-action-cell-odd {
    background: $heretic-dark-table-tr-even-color;
}

html.heretic-dark .hr-ht-action-cell-even {
    background: $grey-darker;
}

html.heretic-dark .hr-ht-action-cell {
    border-left: 1px solid $heretic-dark-table-border-color;
    border-right: 1px solid $heretic-dark-table-border-color;
}

html.heretic-dark .hr-ht-action-cell-control {
    border-left: 1px solid $heretic-dark-table-border-color;
    border-right: 1px solid $heretic-dark-table-border-color;
    background: $heretic-dark-table-thead-color;
    color: $heretic-dark-text-color-light !important;
}

html.heretic-dark .hr-ht-loading-wrap {
    background: rgba($heretic-dark-body-background-color, 0.7);
}

@media (max-width: 1023px) {
    .hr-ht-hidden-touch {
        display: none;
        position: absolute;
        left: -9999px;
        margin: 0 !important;
        padding: 0 !important;
    }

    .hr-ht-search-field {
        margin-bottom: 10px;
    }

    .hr-hm-tabs>ul {
        position: relative;
        top: 0;
    }
}