<email-template>
    <email-paragraph>
        ${input.t("signUpMailText")}
    </email-paragraph>
    <email-paragraph>
        ${input.t("signUpMailNotice")}
    </email-paragraph>
    <email-button href=`${input.activationUrl}`>${input.t("signUpMailButton")}</email-button>
</email-template>
