@import "~styles/variables.scss";

.hr-um-foot {
    position: relative;
    order: 100;
}

.hr-um-modal {
    user-select: none;
}

.hr-um-file-cta:hover {
    border: 1px solid $grey-lightest !important;
    border-bottom: unset !important;
}

html.theme-dark .hr-um-file-cta:hover {
    border: 1px solid $grey !important;
    border-bottom: unset !important;
}