@use "~styles/variables.scss" as *;

@use "sass:color";

.hr-hft-wrap {
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    // border: 1px solid $grey-light;
    border-radius: $radius-large;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    border: 1px solid $grey-lighter;
}

.theme-dark .hr-hft-wrap {
    border: 1px solid $grey-dark;
}

.hr-hft-wrap::-webkit-scrollbar {
    display: none;
}

.hr-hft-cell-data {
    padding: 11px 8px 10px 8px;
}

.hr-hft-cell-action {
    padding: 8px;
}

.hr-hft-cell-data {
    white-space: nowrap;
    overflow: hidden;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 42px;
        pointer-events: none;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba($grey-lighter, 1) 100%
        );
    }
}

.hr-hft-row-odd > .hr-hft-cell-data {
    &:after {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba($grey-lightest, 1) 100%
        );
    }
}

html.theme-dark .hr-hft-cell-data {
    &:after {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba($grey-dark, 1) 100%
        );
    }
}

html.theme-dark .hr-hft-row-odd > .hr-hft-cell-data {
    &:after {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba($grey-darker, 1) 100%
        );
    }
}

.hr-hft-cell-head-data {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    padding: 8px;

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 15px;
        height: 42px;
        pointer-events: none;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba($grey-light, 1) 100%
        );
    }
}

html.theme-dark .hr-hft-cell-head-data {
    &:after {
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(color.adjust($grey-dark, $lightness: 5%), 1) 100%
        );
    }
}

.hr-hft-cell-border-left {
    border-left: 1px solid color.adjust($grey-lighter, $lightness: -5%);
}

.hr-hft-cell-border-head-left {
    border-left: 1px solid color.adjust($grey-light, $lightness: -5%);
}

html.theme-dark .hr-hft-cell-border-left {
    border-left: 1px solid color.adjust($grey-dark, $lightness: -5%);
}

html.theme-dark .hr-hft-cell-border-head-left {
    border-left: 1px solid color.adjust($grey-dark, $lightness: -5%);
}

.hr-hft-row {
    background-color: $grey-lighter;
}

.hr-hft-row-odd {
    background-color: $grey-lightest;
}

html.theme-dark .hr-hft-row {
    background-color: $grey-dark;
}

html.theme-dark .hr-hft-row-odd {
    background-color: $grey-darker;
}

.hr-hft-row-bottom {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

.hr-hft-head {
    background-color: $grey-light;
    font-weight: 600;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    user-select: none;
}

html.theme-dark .hr-hft-head {
    background-color: color.adjust($grey-dark, $lightness: 5%);
}

.hr-hft-cell-resize:hover {
    opacity: 0.9;
}

.hr-hft-loading {
    position: absolute;
    left: 0;
    top: 22px;
    // opacity: 0;
}

.hr-hft-loading-wrap {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba($theme-light-loading-background, 0.7);
    backdrop-filter: grayscale(200%);
    z-index: 25;
}

html.theme-dark .hr-hft-loading-wrap {
    background: rgba($theme-dark-loading-background, 0.7);
}

.hr-hft-cell-head-data {
    border-top-right-radius: $radius;
}

.hr-hft-item-bottom {
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

.hr-hft-action-column-head {
    border-top-right-radius: $radius;
    text-align: center;
}

.hr-hft-action-button {
    border-radius: 50% !important;
    height: 29px !important;
}

html.theme-dark .hr-hft-action-button {
    width: 30px !important;
}

.hr-hft-action-button:disabled {
    opacity: 0 !important;
    cursor: unset !important;
}

.hr-hft-action-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hft-action-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-hft-action-icon svg > path {
    fill: $grey-darker !important;
}

.hr-hft-action-icon-danger svg > path {
    fill: $white !important;
}

.hr-hft-checkbox-wrap {
    padding: 13px 11px 0;
}

.hr-hft-top-button-icon,
.hr-hft-top-button-icon-danger,
.hr-hft-top-button-submenu-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hft-top-button-icon svg,
.hr-hft-top-button-icon-danger svg {
    height: 16px;
    width: 16px;
    top: 0px;
    position: relative;
}

.hr-hft-top-button-icon svg > path {
    fill: $grey-darker;
}

.hr-hft-top-button-icon-danger svg > path {
    fill: $white !important;
}

.hr-hft-top-button-submenu-icon {
    margin-right: 10px;
}

.hr-hft-search-button,
.hr-hft-search-button:hover {
    border-top: 1px solid $grey-lighter;
    border-right: 1px solid $grey-lighter;
    border-bottom: 1px solid $grey-lighter;
    border-left: unset;
}

.hr-hft-search-button:hover {
    background: $white-ter;
}

html.theme-dark .hr-hft-search-button,
html.theme-dark .hr-hft-search-button:hover {
    border-top: 1px solid color.adjust($theme-dark-grey-darker, $lightness: 8%) !important;
    border-right: 1px solid color.adjust($theme-dark-grey-darker, $lightness: 8%) !important;
    border-bottom: 1px solid color.adjust($theme-dark-grey-darker, $lightness: 8%) !important;
    border-left: unset;
}

html.theme-dark .hr-hft-search-button:hover {
    background: color.adjust($theme-dark-grey-darker, $lightness: 5%) !important;
}

.hr-hft-form-icon,
.hr-hft-search-close-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hft-form-icon svg,
.hr-hft-search-close-icon svg {
    height: 17px;
    width: 17px;
    top: 0px;
    position: relative;
}

.hr-hft-form-icon svg > path {
    fill: $grey-light !important;
}

.hr-hft-search-close-icon svg > path {
    fill: color.adjust($grey, $lightness: -5%) !important;
}

.hr-hft-settings-body {
    margin: 0 !important;
    padding: 0 !important;
}

.hr-hft-settings-columns-drop-area,
.hr-hft-export-columns-drop-area {
    height: 5px;
    border: 1px dashed $grey-lighter;
    background: $grey-lightest;
}

html.theme-dark .hr-hft-settings-columns-drop-area,
html.theme-dark .hr-hft-export-columns-drop-area {
    background: $theme-dark-grey-dark;
    border: 1px dashed color.adjust($theme-dark-grey-dark, $lightness: -20%);
}

.hr-hft-settings-columns-drop-area-over,
.hr-hft-export-columns-drop-area-over {
    background: $yellow;
}

.hr-hft-drag-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hft-drag-icon svg {
    height: 18px;
    width: 18px;
    top: 2px;
    position: relative;
}

.hr-hft-drag-icon svg > path {
    fill: $grey !important;
}

.hr-hft-settings-columns-row:hover,
.hr-hft-settings-filters-row:hover,
.hr-hft-settings-bulk-row:hover,
.hr-hft-export-columns-row:hover {
    background: $white-ter;
    border-radius: $radius;
}

html.theme-dark .hr-hft-settings-columns-row:hover,
html.theme-dark .hr-hft-settings-filters-row:hover,
html.theme-dark .hr-hft-settings-bulk-row:hover,
html.theme-dark .hr-hft-export-columns-row:hover {
    background: color.adjust($theme-dark-grey-dark, $lightness: 18%);
    border-radius: $radius;
}

.hr-hft-settings-columns-drop-area,
.hr-hft-export-columns-drop-area {
    height: 5px;
    border: 1px dashed $grey-lighter;
    background: $grey-lightest;
}

html.theme-dark .hr-hft-settings-columns-drop-area,
html.theme-dark .hr-hft-export-columns-drop-area {
    background: $theme-dark-grey-dark;
    border: 1px dashed color.adjust($theme-dark-grey-dark, $lightness: -20%);
}

.hr-hft-settings-columns-drop-area-over,
.hr-hft-export-columns-drop-area-over {
    background: $yellow;
}

.hr-hft-top-button-submenu-icon svg {
    height: 16px;
    width: 16px;
    top: 3px;
    position: relative;
}

.hr-hft-top-button-submenu-icon svg > path {
    fill: $grey !important;
}

.hr-hft-top-info-icon {
    display: inline-flex;
    align-self: center;
    margin-left: 1px !important;
}

.hr-hft-top-info-icon svg {
    height: 15px;
    width: 15px;
    top: 1px;
    position: relative;
}

.hr-hft-top-info-icon svg > path {
    fill: $primary !important;
    margin-left: 10px;
}

.hr-hft-lock-icon {
    display: inline-flex;
    align-self: center;
    position: absolute;
    left: 7px !important;
    top: 14px !important;
}

.hr-hft-lock-icon svg {
    height: 17px;
    width: 17px;
    position: relative;
}

.hr-hft-lock-icon > svg > path {
    fill: $grey !important;
}

.hr-hft-stats-label {
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media (min-width: 769px) {
    .hr-hft-search-control {
        margin-left: 20px;
    }
}

@media (max-width: 768px) {
    .hr-hft-top-button-icon,
    .hr-hft-top-button-icon-danger {
        margin-right: 0;
    }

    .hr-hft-cell-action {
        width: unset !important;
        min-width: unset !important;
        max-width: unset !important;
        position: unset !important;
        left: unset !important;
    }

    .hr-hft-cell-data {
        width: unset !important;
        min-width: unset !important;
    }

    .hr-hft-cell-border-left {
        border-left: unset;
    }

    .hr-hft-cell-border-head-left {
        border-left: unset;
    }

    .hr-hft-cell-head-data {
        min-width: unset !important;
        width: unset !important;
    }

    .hr-hft-search-control {
        width: 100%;
    }

    .hr-hft-search-field {
        margin-bottom: 10px;
    }

    .hr-hft-head {
        margin-left: -1px !important;
    }

    .hr-hft-row {
        margin-left: -1px !important;
    }

    .hr-hft-action-column-head {
        border-top-right-radius: $radius;
        text-align: left;
    }
}
