$ const attrs = Object.assign({}, input);
$ delete attrs.renderBody;
$ delete attrs.activeClass;
$ delete attrs.parentElement;
<span ...attrs no-update>
    <if(input.renderBody)>${component.translate()}</if>
</span>
