$ const attrs = Object.assign({}, input);
$ delete attrs.renderBody;
$ delete attrs.activeClass;
$ delete attrs.parentElement;
$ delete attrs.data;
<span ...attrs>
    <if(input.renderBody)>${component.translate()}</if>
</span>
