$ const attrs = Object.assign({}, input);
$ delete attrs.renderBody;
$ delete attrs.activeClass;
$ delete attrs.parentElement;
$ delete attrs.country;
$ delete attrs.continent;
<span ...attrs no-update>
    <if(input.renderBody || input.country || input.continent)>${component.translate()}</if>
</span>
