@use "~styles/variables.scss" as *;

.sessionsModal-card-body {
    user-select: text;
}

.editModal-card-body > .hr-hf-wrap > .hr-hf-form > .hr-hf-area {
    margin-bottom: 0 !important;
}

html.theme-dark .editModal-card-body > .hr-hf-wrap > .hr-hf-form > .hr-hf-area {
    border: 1px solid $grey;
}

// @media (max-width: 769px) {
//     .hr-groups-edit-modal>.hr-hm-modal-card {
//         height: 90vh;
//     }
// }
