$ const attrs = Object.assign({}, input);
$ delete attrs.renderBody;
$ delete attrs.activeClass;
$ delete attrs.parentElement;
<h1 style="font-size: 20px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 600; text-decoration: none; color: #000000;" ...attrs>
    <${input.renderBody}/>
</h1>
