import { mdiMenuDown, mdiMenuUp } from "@mdi/js"

<span>
    <svg viewBox="0 0 24 15" width="15" height="15" xmlns="http://www.w3.org/2000/svg">
        <path d=input.sortDir === "asc" ? mdiMenuDown : mdiMenuUp/>
    </svg>
</span>
