@use "./variables.scss" as hv;
@use "~styles/bulma/_index.scss" with (
    $black: hv.$black,
    $black-bis: hv.$black-bis,
    $black-ter: hv.$black-ter,
    $grey-darker: hv.$grey-darker,
    $grey-dark: hv.$grey-dark,
    $grey: hv.$grey,
    $grey-light: hv.$grey-light,
    $grey-lighter: hv.$grey-lighter,
    $grey-lightest: hv.$grey-lightest,
    $white-ter: hv.$white-ter,
    $white-bis: hv.$white-bis,
    $white: hv.$white,
    $orange: hv.$orange,
    $yellow: hv.$yellow,
    $green: hv.$green,
    $turquoise: hv.$turquoise,
    $cyan: hv.$cyan,
    $blue: hv.$blue,
    $purple: hv.$purple,
    $red: hv.$red,
    $render-mode: hv.$render-mode,
    $size-1: hv.$size-1,
    $size-2: hv.$size-2,
    $size-3: hv.$size-3,
    $size-4: hv.$size-4,
    $size-5: hv.$size-5,
    $size-6: hv.$size-6,
    $size-7: hv.$size-7,
    $weight-light: hv.$weight-light,
    $weight-normal: hv.$weight-normal,
    $weight-medium: hv.$weight-medium,
    $weight-semibold: hv.$weight-semibold,
    $weight-bold: hv.$weight-bold,
    $weight-extrabold: hv.$weight-extrabold,
    $block-spacing: hv.$block-spacing,
    $aspect-ratios: hv.$aspect-ratios,
    $gap: hv.$gap,
    $tablet: hv.$tablet,
    $desktop: hv.$desktop,
    $widescreen: hv.$widescreen,
    $widescreen-enabled: hv.$widescreen-enabled,
    $fullhd: hv.$fullhd,
    $fullhd-enabled: hv.$fullhd-enabled,
    $breakpoints: hv.$breakpoints,
    $easing: hv.$easing,
    $radius-small: hv.$radius-small,
    $radius: hv.$radius,
    $radius-medium: hv.$radius-medium,
    $radius-large: hv.$radius-large,
    $radius-rounded: hv.$radius-rounded,
    $speed: hv.$speed,
    $variable-columns: hv.$variable-columns,
    $rtl: hv.$rtl,
    $class-prefix: hv.$class-prefix,
    $cssvars-prefix: hv.$cssvars-prefix,
    $helpers-prefix: hv.$helpers-prefix,
    $helpers-has-prefix: hv.$helpers-has-prefix,
    $family-sans-serif: hv.$family-sans-serif,
    $family-monospace: hv.$family-monospace,
    $family-primary: hv.$family-primary,
    $family-secondary: hv.$family-secondary,
    $family-code: hv.$family-code,
    $scheme-main: hv.$scheme-main,
    $scheme-main-bis: hv.$scheme-main-bis,
    $scheme-main-ter: hv.$scheme-main-ter,
    $scheme-invert: hv.$scheme-invert,
    $scheme-invert-bis: hv.$scheme-invert-bis,
    $scheme-invert-ter: hv.$scheme-invert-ter,
    $text: hv.$text,
    $text-invert: hv.$text-invert,
    $text-weak: hv.$text-weak,
    $text-strong: hv.$text-strong,
    $primary: hv.$primary,
    $info: hv.$info,
    $success: hv.$success,
    $warning: hv.$warning,
    $danger: hv.$danger,
    $light: hv.$light,
    $dark: hv.$dark,
    $link: hv.$link,
    $background: hv.$background,
    $border: hv.$border,
    $border-weak: hv.$border-weak,
    $code: hv.$code,
    $code-background: hv.$code-background,
    $pre: hv.$pre,
    $pre-background: hv.$pre-background,
    $size-small: hv.$size-small,
    $size-normal: hv.$size-normal,
    $size-medium: hv.$size-medium,
    $size-large: hv.$size-large,
    $shadow-color: hv.$custom-colors,
    $custom-colors: hv.$custom-colors,
    $custom-shades: hv.$custom-shades,
    $colors: hv.$colors,
    $shades: hv.$shades,
    $sizes: hv.$sizes,
    // Navbar
    $navbar-background-color: hv.$navbar-background-color,
    $navbar-box-shadow-size: hv.$navbar-box-shadow-size,
    $navbar-box-shadow-color: hv.$navbar-box-shadow-color,
    $navbar-height: hv.$navbar-height,
    $navbar-padding-vertical: hv.$navbar-padding-vertical,
    $navbar-padding-horizontal: hv.$navbar-padding-horizontal,
    $navbar-z: hv.$navbar-z,
    $navbar-fixed-z: hv.$navbar-fixed-z,
    $navbar-item-img-max-height: hv.$navbar-item-img-max-height,
    $navbar-burger-color: hv.$navbar-burger-color,
    $navbar-tab-hover-background-color: hv.$navbar-tab-hover-background-color,
    $navbar-tab-hover-border-bottom-color: hv.$navbar-tab-hover-border-bottom-color,
    $navbar-tab-active-color: hv.$navbar-tab-active-color,
    $navbar-tab-active-background-color: hv.$navbar-tab-active-background-color,
    $navbar-tab-active-border-bottom-color: hv.$navbar-tab-active-border-bottom-color,
    $navbar-tab-active-border-bottom-style: hv.$navbar-tab-active-border-bottom-style,
    $navbar-tab-active-border-bottom-width: hv.$navbar-tab-active-border-bottom-width,
    $navbar-dropdown-background-color: hv.$navbar-dropdown-background-color,
    $navbar-dropdown-border-l: hv.$navbar-dropdown-border-l,
    $navbar-dropdown-border-color: hv.$navbar-dropdown-border-color,
    $navbar-dropdown-border-style: hv.$navbar-dropdown-border-style,
    $navbar-dropdown-border-width: hv.$navbar-dropdown-border-width,
    $navbar-dropdown-offset: hv.$navbar-dropdown-offset,
    $navbar-dropdown-arrow: hv.$navbar-dropdown-arrow,
    $navbar-dropdown-radius: hv.$navbar-dropdown-radius,
    $navbar-dropdown-z: hv.$navbar-dropdown-z,
    $navbar-dropdown-boxed-radius: hv.$navbar-dropdown-boxed-radius,
    $navbar-dropdown-boxed-shadow: hv.$navbar-dropdown-boxed-shadow,
    $navbar-divider-background-l: hv.$navbar-divider-background-l,
    $navbar-divider-height: hv.$navbar-divider-height,
    $navbar-bottom-box-shadow-size: hv.$navbar-bottom-box-shadow-size,
    // Box
    $box-background-color: hv.$box-background-color,
    $box-color: hv.$box-color,
    $box-radius: hv.$box-radius,
    $box-shadow: hv.$box-shadow,
    $box-padding: hv.$box-padding,
    $box-link-hover-shadow: hv.$box-link-hover-shadow,
    $box-link-active-shadow: hv.$box-link-active-shadow,
    // Button
    $button-weight: hv.$button-weight,
    $button-family: hv.$button-family,
    $button-border-color: hv.$button-border-color,
    $button-border-style: hv.$button-border-style,
    $button-border-width: hv.$button-border-width,
    $button-padding-vertical: hv.$button-padding-vertical,
    $button-padding-horizontal: hv.$button-padding-horizontal,
    $button-focus-border-color: hv.$button-focus-border-color,
    $button-focus-box-shadow-size: hv.$button-focus-box-shadow-size,
    $button-focus-box-shadow-color: hv.$button-focus-box-shadow-color,
    $button-active-color: hv.$button-active-color,
    $button-active-border-color: hv.$button-active-border-color,
    $button-text-color: hv.$button-text-color,
    $button-text-decoration: hv.$button-text-decoration,
    $button-text-hover-background-color: hv.$button-text-hover-background-color,
    $button-text-hover-color: hv.$button-text-hover-color,
    $button-ghost-background: hv.$button-ghost-background,
    $button-ghost-border-color: hv.$button-ghost-border-color,
    $button-ghost-color: hv.$button-ghost-color,
    $button-ghost-decoration: hv.$button-ghost-decoration,
    $button-ghost-hover-color: hv.$button-ghost-hover-color,
    $button-ghost-hover-decoration: hv.$button-ghost-hover-decoration,
    $button-disabled-background-color: hv.$button-disabled-background-color,
    $button-disabled-border-color: hv.$button-disabled-border-color,
    $button-disabled-shadow: hv.$button-disabled-shadow,
    $button-disabled-opacity: hv.$button-disabled-opacity,
    $button-static-color: hv.$button-static-color,
    $button-static-background-color: hv.$button-static-background-color,
    $button-static-border-color: hv.$button-static-border-color,
    $button-responsive-sizes: hv.$button-responsive-sizes,
    // Content
    $content-heading-color: hv.$content-heading-color,
    $content-heading-weight: hv.$content-heading-weight,
    $content-heading-line-height: hv.$content-heading-line-height,
    $content-block-margin-bottom: hv.$content-block-margin-bottom,
    $content-blockquote-background-color: hv.$content-blockquote-background-color,
    $content-blockquote-border-left: hv.$content-blockquote-border-left,
    $content-blockquote-padding: hv.$content-blockquote-padding,
    $content-pre-padding: hv.$content-pre-padding,
    $content-table-cell-border: hv.$content-table-cell-border,
    $content-table-cell-border-width: hv.$content-table-cell-border-width,
    $content-table-cell-padding: hv.$content-table-cell-padding,
    $content-table-cell-heading-color: hv.$content-table-cell-heading-color,
    $content-table-head-cell-border-width: hv.$content-table-head-cell-border-width,
    $content-table-head-cell-color: hv.$content-table-head-cell-color,
    $content-table-body-last-row-cell-border-bottom-width: hv.$content-table-body-last-row-cell-border-bottom-width,
    $content-table-foot-cell-border-width: hv.$content-table-foot-cell-border-width,
    $content-table-foot-cell-color: hv.$content-table-foot-cell-color,
    // Notification
    $notification-code-background-color: hv.$notification-code-background-color,
    $notification-radius: hv.$notification-radius,
    $notification-padding: hv.$notification-padding,
    // Progress bar
    $progress-bar-background-color: hv.$progress-bar-background-color,
    $progress-value-background-color: hv.$progress-value-background-color,
    $progress-border-radius: hv.$progress-border-radius,
    $progress-indeterminate-duration: hv.$progress-indeterminate-duration,
    // Table
    $table-color: hv.$table-color,
    $table-background-color: hv.$table-background-color,
    $table-cell-border-color: hv.$table-cell-border-color,
    $table-cell-border-style: hv.$table-cell-border-style,
    $table-cell-border-width: hv.$table-cell-border-width,
    $table-cell-padding: hv.$table-cell-padding,
    $table-cell-heading-color: hv.$table-cell-heading-color,
    $table-cell-text-align: hv.$table-cell-text-align,
    $table-head-cell-border-width: hv.$table-head-cell-border-width,
    $table-head-cell-color: hv.$table-head-cell-color,
    $table-foot-cell-border-width: hv.$table-foot-cell-border-width,
    $table-foot-cell-color: hv.$table-foot-cell-color,
    $table-head-background-color: hv.$table-head-background-color,
    $table-body-background-color: hv.$table-body-background-color,
    $table-foot-background-color: hv.$table-foot-background-color,
    $table-row-hover-background-color: hv.$table-row-hover-background-color,
    $table-row-active-background-color: hv.$table-row-active-background-color,
    $table-row-active-color: hv.$table-row-active-color,
    $table-striped-row-even-background-color: hv.$table-striped-row-even-background-color,
    $table-striped-row-even-hover-background-color: hv.$table-striped-row-even-hover-background-color,
    // Tag
    $tag-radius: hv.$tag-radius,
    $tag-delete-margin: hv.$tag-delete-margin,
    // Title
    $title-color: hv.$title-color,
    $title-family: hv.$title-family,
    $title-size: hv.$title-size,
    $title-weight: hv.$title-weight,
    $title-line-height: hv.$title-line-height,
    $title-strong-color: hv.$title-strong-color,
    $title-strong-weight: hv.$title-strong-weight,
    $title-sub-size: hv.$title-sub-size,
    $title-sup-size: hv.$title-sup-size,
    $subtitle-color: hv.$subtitle-color,
    $subtitle-family: hv.$subtitle-family,
    $subtitle-size: hv.$subtitle-size,
    $subtitle-weight: hv.$subtitle-weight,
    $subtitle-line-height: hv.$subtitle-line-height,
    $subtitle-strong-color: hv.$subtitle-strong-color,
    $subtitle-strong-weight: hv.$subtitle-strong-weight,
    // Breadcrumb
    $breadcrumb-item-color: hv.$breadcrumb-item-color,
    $breadcrumb-item-hover-color: hv.$breadcrumb-item-hover-color,
    $breadcrumb-item-active-color: hv.$breadcrumb-item-active-color,
    $breadcrumb-item-padding-vertical: hv.$breadcrumb-item-padding-vertical,
    $breadcrumb-item-padding-horizontal: hv.$breadcrumb-item-padding-horizontal,
    $breadcrumb-item-separator-color: hv.$breadcrumb-item-separator-color,
    // Card
    $card-color: hv.$card-color,
    $card-background-color: hv.$card-background-color,
    $card-shadow: hv.$card-shadow,
    $card-radius: hv.$card-radius,
    $card-header-background-color: hv.$card-header-background-color,
    $card-header-color: hv.$card-header-color,
    $card-header-padding: hv.$card-header-padding,
    $card-header-shadow: hv.$card-header-shadow,
    $card-header-weight: hv.$card-header-weight,
    $card-content-background-color: hv.$card-content-background-color,
    $card-content-padding: hv.$card-content-padding,
    $card-footer-background-color: hv.$card-footer-background-color,
    $card-footer-border-top: hv.$card-footer-border-top,
    $card-footer-padding: hv.$card-footer-padding,
    $card-media-margin: hv.$card-media-margin,
    // Dropdown
    $dropdown-menu-min-width: hv.$dropdown-menu-min-width,
    $dropdown-content-background-color: hv.$dropdown-content-background-color,
    $dropdown-content-offset: hv.$dropdown-content-offset,
    $dropdown-content-padding-bottom: hv.$dropdown-content-padding-bottom,
    $dropdown-content-padding-top: hv.$dropdown-content-padding-top,
    $dropdown-content-radius: hv.$dropdown-content-radius,
    $dropdown-content-shadow: hv.$dropdown-content-shadow,
    $dropdown-content-z: hv.$dropdown-content-z,
    $dropdown-divider-background-color: hv.$dropdown-divider-background-color,
    // Menu
    $menu-item-radius: hv.$menu-item-radius,
    $menu-list-border-left: hv.$menu-list-border-left,
    $menu-list-line-height: hv.$menu-list-line-height,
    $menu-list-link-padding: hv.$menu-list-link-padding,
    $menu-nested-list-margin: hv.$menu-nested-list-margin,
    $menu-nested-list-padding-left: hv.$menu-nested-list-padding-left,
    $menu-label-color: hv.$menu-label-color,
    $menu-label-font-size: hv.$menu-label-font-size,
    $menu-label-letter-spacing: hv.$menu-label-letter-spacing,
    $menu-label-spacing: hv.$menu-label-spacing,
    // Message
    $message-border-l-delta: hv.$message-border-l-delta,
    $message-radius: hv.$message-radius,
    $message-header-weight: hv.$message-header-weight,
    $message-header-padding: hv.$message-header-padding,
    $message-header-radius: hv.$message-header-radius,
    $message-body-border-width: hv.$message-body-border-width,
    $message-body-color: hv.$message-body-color,
    $message-body-padding: hv.$message-body-padding,
    $message-body-radius: hv.$message-body-radius,
    $message-body-pre-code-background-color: hv.$message-body-pre-code-background-color,
    $message-header-body-border-width: hv.$message-header-body-border-width,
    // Modal
    $modal-z: hv.$modal-z,
    $modal-background-background-color: hv.$modal-background-background-color,
    $modal-content-width: hv.$modal-content-width,
    $modal-content-margin-mobile: hv.$modal-content-margin-mobile,
    $modal-content-spacing-mobile: hv.$modal-content-spacing-mobile,
    $modal-content-spacing-tablet: hv.$modal-content-spacing-tablet,
    $modal-close-dimensions: hv.$modal-close-dimensions,
    $modal-close-right: hv.$modal-close-right,
    $modal-close-top: hv.$modal-close-top,
    $modal-card-spacing: hv.$modal-card-spacing,
    $modal-card-head-background-color: hv.$modal-card-head-background-color,
    $modal-card-head-padding: hv.$modal-card-head-padding,
    $modal-card-head-radius: hv.$modal-card-head-radius,
    $modal-card-title-color: hv.$modal-card-title-color,
    $modal-card-title-line-height: hv.$modal-card-title-line-height,
    $modal-card-title-size: hv.$modal-card-title-size,
    $modal-card-foot-background-color: hv.$modal-card-foot-background-color,
    $modal-card-foot-radius: hv.$modal-card-foot-radius,
    $modal-card-body-background-color: hv.$modal-card-body-background-color,
    $modal-card-body-padding: hv.$modal-card-body-padding,
    $modal-breakpoint: hv.$modal-breakpoint,
    // Pagination
    $pagination-margin: hv.$pagination-margin,
    $pagination-min-width: hv.$pagination-min-width,
    $pagination-item-border-style: hv.$pagination-item-border-style,
    $pagination-item-border-width: hv.$pagination-item-border-width,
    $pagination-item-font-size: hv.$pagination-item-font-size,
    $pagination-item-margin: hv.$pagination-item-margin,
    $pagination-item-padding-left: hv.$pagination-item-padding-left,
    $pagination-item-padding-right: hv.$pagination-item-padding-right,
    $pagination-nav-padding-left: hv.$pagination-nav-padding-left,
    $pagination-nav-padding-right: hv.$pagination-nav-padding-right,
    $pagination-disabled-color: hv.$pagination-disabled-color,
    $pagination-disabled-background-color: hv.$pagination-disabled-background-color,
    $pagination-disabled-border-color: hv.$pagination-disabled-border-color,
    $pagination-current-color: hv.$pagination-current-color,
    $pagination-current-background-color: hv.$pagination-current-background-color,
    $pagination-current-border-color: hv.$pagination-current-border-color,
    $pagination-ellipsis-color: hv.$pagination-ellipsis-color,
    $pagination-shadow-inset: hv.$pagination-shadow-inset,
    // Panel
    $panel-margin: hv.$panel-margin,
    $panel-item-border: hv.$panel-item-border,
    $panel-radius: hv.$panel-radius,
    $panel-shadow: hv.$panel-shadow,
    $panel-heading-line-height: hv.$panel-heading-line-height,
    $panel-heading-padding: hv.$panel-heading-padding,
    $panel-heading-radius: hv.$panel-heading-radius,
    $panel-heading-size: hv.$panel-heading-size,
    $panel-heading-weight: hv.$panel-heading-weight,
    $panel-tabs-font-size: hv.$panel-tabs-font-size,
    $panel-tab-border-bottom-color: hv.$panel-tab-border-bottom-color,
    $panel-tab-border-bottom-style: hv.$panel-tab-border-bottom-style,
    $panel-tab-border-bottom-width: hv.$panel-tab-border-bottom-width,
    $panel-tab-active-color: hv.$panel-tab-active-color,
    $panel-list-item-color: hv.$panel-list-item-color,
    $panel-list-item-hover-color: hv.$panel-list-item-hover-color,
    $panel-block-color: hv.$panel-block-color,
    $panel-block-hover-background-color: hv.$panel-block-hover-background-color,
    $panel-block-active-border-left-color: hv.$panel-block-active-border-left-color,
    $panel-block-active-color: hv.$panel-block-active-color,
    $panel-block-active-icon-color: hv.$panel-block-active-icon-color,
    $panel-icon-color: hv.$panel-icon-color,
    // Tabs
    $tabs-border-bottom-color: hv.$tabs-border-bottom-color,
    $tabs-border-bottom-style: hv.$tabs-border-bottom-style,
    $tabs-border-bottom-width: hv.$tabs-border-bottom-width,
    $tabs-link-color: hv.$tabs-link-color,
    $tabs-link-hover-border-bottom-color: hv.$tabs-link-hover-border-bottom-color,
    $tabs-link-hover-color: hv.$tabs-link-hover-color,
    $tabs-link-active-border-bottom-color: hv.$tabs-link-active-border-bottom-color,
    $tabs-link-active-color: hv.$tabs-link-active-color,
    $tabs-link-padding: hv.$tabs-link-padding,
    $tabs-boxed-link-radius: hv.$tabs-boxed-link-radius,
    $tabs-boxed-link-hover-background-color: hv.$tabs-boxed-link-hover-background-color,
    $tabs-boxed-link-hover-border-bottom-color: hv.$tabs-boxed-link-hover-border-bottom-color,
    $tabs-boxed-link-active-background-color: hv.$tabs-boxed-link-active-background-color,
    $tabs-boxed-link-active-border-color: hv.$tabs-boxed-link-active-border-color,
    $tabs-boxed-link-active-border-bottom-color: hv.$tabs-boxed-link-active-border-bottom-color,
    $tabs-toggle-link-border-color: hv.$tabs-toggle-link-border-color,
    $tabs-toggle-link-border-style: hv.$tabs-toggle-link-border-style,
    $tabs-toggle-link-border-width: hv.$tabs-toggle-link-border-width,
    $tabs-toggle-link-hover-background-color: hv.$tabs-toggle-link-hover-background-color,
    $tabs-toggle-link-hover-border-color: hv.$tabs-toggle-link-hover-border-color,
    $tabs-toggle-link-radius: hv.$tabs-toggle-link-radius,
    $tabs-toggle-link-active-background-color: hv.$tabs-toggle-link-active-background-color,
    $tabs-toggle-link-active-border-color: hv.$tabs-toggle-link-active-border-color,
    $tabs-toggle-link-active-color: hv.$tabs-toggle-link-active-color,
    // File
    $file-radius: hv.$file-radius,
    $file-cta-color: hv.$file-cta-color,
    $file-cta-hover-color: hv.$file-cta-hover-color,
    $file-cta-active-color: hv.$file-cta-active-color,
    $file-name-border-color: hv.$file-name-border-color,
    $file-name-border-style: hv.$file-name-border-style,
    $file-name-border-width: hv.$file-name-border-width,
    $file-name-max-width: hv.$file-name-max-width,
    // Container
    $container-offset: hv.$container-offset,
    $container-max-width: hv.$container-max-width,
    // Hero
    $hero-body-padding: hv.$hero-body-padding,
    $hero-body-padding-tablet: hv.$hero-body-padding-tablet,
    $hero-body-padding-small: hv.$hero-body-padding-small,
    $hero-body-padding-medium: hv.$hero-body-padding-medium,
    $hero-body-padding-large: hv.$hero-body-padding-large,
);