// Import variables and fonts

@use "./fonts.scss" as *;
@use "./variables.scss" as *;
@use "~styles/buttons.scss" as *;
@use "~styles/tippy.scss" as *;
@use "~styles/checkboxes.scss" as *;
@use "~styles/dark.scss" as *;
@use "~styles/common.scss" as *;

// Template-related styles

[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

.hr-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hr-content {
    flex: 1;
}

.hr-footer {
    font-size: 80%;
}

.hr-navbar-wrap {
    padding-top: 30px;
    padding-bottom: 20px;
    user-select: none;
}

.icon > svg path {
    fill: $grey-darker;
}

.navbar-brand > * {
    background-color: transparent !important;
}

#heretic_dummy {
    opacity: 0;
}

@media (max-width: 1023px) {
    .hr-navbar-wrap {
        padding-top: 5px;
        padding-bottom: 15px;
    }
}
