<h1 class="title is-3">Welcome</h1>
<p>You see this page, which means that the build of the site based on Heretic was successful.</p>
<p class="mt-2">For instructions on further work and managing content of your site, please refer to the documentation.</p>