import { mdiGithub } from "@mdi/js"

<a class="navbar-item hr-navbar-item" href="https://github.com/hereticjsorg/heretic" target="_blank">
    <span class="icon hr-navbar-icon">
        <svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <path d=mdiGithub/>
        </svg>
    </span>
    <span>&nbsp;&nbsp;GitHub</span>
</a>
