@import "~styles/variables.scss";

.hr-em-modal>.modal-card {
    max-height: unset;
    height: 100%;
    width: 100%;
}

.hr-em-foot,
.hr-em-head {
    border-radius: 0 !important;
}

.hr-em-foot {
    background: $white-bis !important;
    position: relative;
    order: 100;
}

.hr-em-modal {
    user-select: none;
}

.hr-em-editor-area {
    width: 100%;
    height: 100%;
}