.hr-hdg-drop-area {
    height: 20px;
    border: 1px dashed $grey-lighter;
    background: $grey-lightest;
}

html.heretic-dark .hr-hdg-drop-area {
    background: $heretic-dark-grey-dark;
    border: 1px dashed darken($heretic-dark-grey-dark, 20%);
}

.hr-hdg-drop-area-over {
    background: $yellow;
}

.hr-hdg-drag-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hdg-drag-icon svg {
    height: 18px;
    width: 18px;
    top: 2px;
    position: relative;
}

.hr-hdg-drag-icon svg>path {
    fill: $grey !important;
}

.hr-hdg-switch {
    margin-top: 3px !important;
}

.hr-hdg-columns-row:hover {
    background: $white-ter;
    border-radius: $radius;
}

html.heretic-dark .hr-hdg-columns-row:hover {
    background: lighten($heretic-dark-grey-dark, 18%);
    border-radius: $radius;
}

@media (max-width: 768px) {}