@import "../../../view/variables.scss";

.hr-navbar-item {
    margin: 1px;
    border-radius: $radius;
    border: unset !important;
}

.hr-navbar-dropdown {
    margin-top: 1px;
    padding: 4px !important;
    border-top: unset !important;
    transition: all 250ms;
}

.hr-navbar-item-active,
.hr-navbar-item-active:hover,
.hr-navbar-item-active:focus,
.hr-navbar-item-active:active {
    background: $primary !important;
    color: $white !important;
}

.hr-navbar-item:hover:not(.hr-navbar-item-active):not(.hr-navbar-item-open) {
    background: $grey-lighter !important;
    transition: all 250ms;
}

.hr-navbar-item-open {
    background: $grey-lighter !important;
}

html.heretic-dark .hr-navbar-item-open {
    background: lighten($heretic-dark-grey-dark, 18%) !important;
    background-color: lighten($heretic-dark-grey-dark, 18%) !important;
}

.hr-navbar-icon {
    display: inline-flex;
    align-self: center;
}

.hr-navbar-icon svg {
    height: 20px;
    width: 20px;
    top: 0px;
    position: relative;
}

.hr-navbar-icon svg>path {
    fill: $grey-darker !important;
}

@media (max-width: 1023px) {

    .hr-navbar-icon svg {
        top: 5px;
    }

}