// Import variables and fonts

@import "../../../../../view/variables.scss";
@import "../../../../../view/buttons.scss";
@import "../../../../../view/fonts.scss";
@import "../../../../../core/styles/dark.scss";

// Template-related styles

.hr-html,
.hr-body,
.hr-admin {
    width: 100%;
    height: 100%;
}

.hr-body {
    background: $white-ter;
}

.hr-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hr-signIn-card-wrap {
    width: 400px;
    user-select: none;
}

.hr-signIn-card>.hr-hf-wrap {
    padding: 20px;
}

.hr-signIn-card {
    padding: 15px 25px;
}

.hr-lang-dropdown-button {
    border: unset !important;
    background: transparent !important;
}

.hr-lang-dropdown-button:focus {
    outline: 0 !important;
    box-shadow: unset !important;
}

.hr-lang-dropdown-icon>svg>path {
    fill: $grey;
}

@media (max-width: 400px) {
    .hr-signIn-card-wrap {
        width: 100%;
    }
}