@import "../../styles/variables.scss";

.hr-loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($heretic-theme-loading-background-color, 0.8);
    z-index: 160;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html.heretic-dark .hr-loader-overlay {
    background: rgba($heretic-theme-loading-background-color-dark, 0.8);
}