@use "~view/variables.scss" as *;

.hr-loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba($theme-light-loading-background, 0.8);
    z-index: 160;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

html.theme-dark .hr-loader-overlay {
    background: rgba($theme-dark-loading-background, 0.8);
}
