<${input.href ? "a" : "div"} href=input.href>
    <div id=input.id key=input.id class="hr-icon-wrap">
        <span class=`hr-hicon icon ${input.styleIcon || ""}`>
            <svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
                <path d=input.iconPath/>
            </svg>
        </span>
        <span class=(input.styleText || "")>
            <${input.renderBody}/>
        </span>
    </div>
</>
