// Import variables and fonts

@import "./variables-admin.scss";

// Styled buttons

.button {
    transition: 0.11s;
    font-size: 95%;
}

.button.is-light {
    border-left: 1px solid darken($white, 9%) !important;
    border-right: 1px solid darken($white, 9%) !important;
    border-top: 1px solid darken($white, 7%) !important;
    background: $white-bis !important;
    box-shadow: 0px 1px 0px 0px $grey-lighter, 0px 5px 5px -5px lighten($black, 70%);
}

.button.is-light:hover {
    box-shadow: 0px 1px 0px 0px darken($grey-lighter, 8%), 0px 6px 6px -6px lighten($black, 70%) !important;
}

.button.is-primary {
    background: lighten($primary, 3%) !important;
    box-shadow: 0px 1px 0px 0px darken($primary, 40%), 0px 5px 5px -5px lighten($black, 40%);
}

.button.is-primary:hover {
    background: lighten($primary, 6%) !important;
    box-shadow: 0px 1px 0px 0px darken($primary, 30%), 0px 6px 6px -6px lighten($black, 30%) !important;
}

.button.is-link {
    background: lighten($black, 40%) !important;
    box-shadow: 0px 1px 0px 0px lighten($black, 10%), 0px 6px 6px -6px lighten($black, 30%) !important;
}

.button.is-link:hover {
    background: lighten($black, 43%) !important;
    box-shadow: 0px 1px 0px 0px $black, 0px 6px 6px -6px lighten($black, 30%) !important;
}

.button.is-info {
    background: lighten($blue, 3%) !important;
    box-shadow: 0px 1px 0px 0px darken($blue, 40%), 0px 5px 5px -5px lighten($black, 40%);
}

.button.is-info:hover {
    background: lighten($blue, 6%) !important;
    box-shadow: 0px 1px 0px 0px darken($blue, 30%), 0px 6px 6px -6px lighten($black, 30%) !important;
}

.button.is-success {
    background: $green !important;
    box-shadow: 0px 1px 0px 0px darken($green, 15%), 0px 5px 5px -5px lighten($black, 40%);
}

.button.is-success:hover {
    background: lighten($green, 3%) !important;
    box-shadow: 0px 1px 0px 0px darken($green, 23%), 0px 6px 6px -6px lighten($black, 30%) !important;
}

.button.is-warning {
    background: $yellow !important;
    box-shadow: 0px 1px 0px 0px darken($yellow, 25%), 0px 5px 5px -5px lighten($black, 40%);
}

.button.is-warning:hover {
    background: lighten($yellow, 3%) !important;
    box-shadow: 0px 1px 0px 0px darken($yellow, 30%), 0px 6px 6px -6px lighten($black, 30%) !important;
}

.button.is-danger {
    background: $red !important;
    box-shadow: 0px 1px 0px 0px darken($red, 25%), 0px 5px 5px -5px lighten($black, 40%);
}

.button.is-danger:hover {
    background: lighten($red, 3%) !important;
    box-shadow: 0px 1px 0px 0px darken($red, 30%), 0px 6px 6px -6px lighten($black, 30%) !important;
}

// Template-related styles

.hr-header-wrap {
    height: 40px;
    background: $grey-darker;
}

.hr-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hr-content {
    flex: 1
}

.hr-footer {
    color: $white-ter;
    font-size: 80%;
    background: $grey-darker;
    user-select: none;
}

.hr-footer>*>a,
.hr-footer>*>a:hover,
.hr-footer>*>a:active {
    color: $white-ter;
    text-decoration: none;
    border-bottom: 1px solid $grey;
}

.hr-content-area-wrap {
    height: 100%;
}

.hr-html,
.hr-body,
.hr-wrap,
.hr-admin,
.hr-module-content {
    height: 100%;
    margin: 0px;
}

.hr-module-content {
    padding: 10px;
    border-left: 1px solid $grey-lightest;
}

@media (max-width: 1023px) {
    .hr-module-content {
        border-left: unset;
    }
}



@supports(-webkit-appearance: none) or (-moz-appearance: none) {

    input[type='checkbox'],
    input[type='radio'] {
        --active: #{lighten($primary, 20%)};
        --active-inner: #{$white};
        --focus: 1px #{$grey};
        --border: #{$grey-lighter};
        --border-hover: #{$grey-lighter};
        ;
        --background: #{$white};
        --disabled: #{$white-ter};
        --disabled-inner: #{$grey-lightest};
        -webkit-appearance: none;
        -moz-appearance: none;
        height: 19px;
        outline: none;
        display: inline-block;
        vertical-align: top;
        position: relative;
        margin: 0;
        cursor: pointer;
        border: 1px solid var(--bc, var(--border));
        background: var(--b, var(--background));
        transition: background .3s, border-color .3s, box-shadow .2s;

        &:after {
            content: '';
            display: block;
            left: 0;
            top: 0;
            position: absolute;
            transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
        }

        &:checked {
            --b: var(--active);
            --bc: var(--active);
            --d-o: .3s;
            --d-t: .6s;
            --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
        }

        &:disabled {
            --b: var(--disabled);
            cursor: not-allowed;
            opacity: .9;

            &:checked {
                --b: var(--disabled-inner);
                --bc: var(--border);
            }

            &+label {
                cursor: not-allowed;
            }
        }

        &:hover {
            &:not(:checked) {
                &:not(:disabled) {
                    --bc: var(--border-hover);
                }
            }
        }

        &:focus {
            // box-shadow: 0 0 0 var(--focus);
        }

        &:not(.switch) {
            width: 19px;

            &:after {
                opacity: var(--o, 0);
            }

            &:checked {
                --o: 1;
            }
        }

        &+label {
            font-size: 14px;
            line-height: 19px;
            display: inline-block;
            vertical-align: top;
            cursor: pointer;
            margin-left: 4px;
        }
    }

    input[type='checkbox'] {
        &:not(.switch) {
            border-radius: 7px;

            &:after {
                width: 5px;
                height: 9px;
                border: 2px solid var(--active-inner);
                border-top: 0;
                border-left: 0;
                left: 6px;
                top: 3px;
                transform: rotate(var(--r, 20deg));
            }

            &:checked {
                --r: 43deg;
            }
        }

        &.switch {
            width: 38px;
            border-radius: 11px;

            &:after {
                left: 2px;
                top: 1px;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                background: var(--ab, var(--border));
                transform: translateX(var(--x, 0));
            }

            &:checked {
                --ab: var(--active-inner);
                --x: 17px;
            }

            &:disabled {
                &:not(:checked) {
                    &:after {
                        opacity: .6;
                    }
                }
            }
        }
    }

    input[type='radio'] {
        border-radius: 50%;

        &:after {
            width: 19px;
            height: 19px;
            border-radius: 50%;
            background: var(--active-inner);
            opacity: 0;
            left: -1px;
            top: -1px;
            transform: scale(var(--s, .7));
        }

        &:checked {
            --s: .5;
        }
    }
}