@font-face {
    font-family: 'Handjet';
    src: local('Handjet Medium'), local('Handjet-Medium'),
        url('handjet.woff2') format('woff2'),
        url('handjet.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}