@import "~styles/variables.scss";

.hr-enm-foot {
    position: relative;
    order: 100;
}

.hr-enm-modal {
    user-select: none;
}

.hr-enm-par-col {
    min-width: 110px;
    text-align: right;
    font-weight: 600;
}

.hr-enm-col-line {
    border-bottom: dashed 1px $grey-lightest;
}

html.theme-dark .hr-enm-col-line {
    border-bottom: dashed 1px $grey;
}