@import "~styles/variables.scss";

.hr-navbar-dummy {
    height: 58px;
    width: 100%;
}

.hr-navbar {
    user-select: none;
    position: fixed !important;
    width: 100%;
    top: 0px;
    background: $grey-darker !important;
}

.hr-navbar-wrap {
    background: $grey-darker !important;
}

// .hr-navbar-item {
//     margin: 2px;
//     border-radius: $radius;
// }

// html.theme-light .hr-navbar-item,
// html.theme-light .hr-navbar-item:hover,
// html.theme-light .hr-navbar-item:focus,
// html.theme-light .hr-navbar-item:active {
//     background: transparent;
// }

// html.theme-light .hr-navbar-item-top {
//     margin: 2px !important;
//     color: $white-ter !important;
// }

// .hr-navbar-dropdown {
//     margin-top: 1px;
//     padding: 4px !important;
//     border-top: unset !important;
//     transition: all 250ms;
// }

// .hr-navbar-item-active,
// .hr-navbar-item-active:hover,
// .hr-navbar-item-active:focus,
// .hr-navbar-item-active:active {
//     background: $primary !important;
//     color: $white !important;
// }

// .navbar-item.has-dropdown>.hr-navbar-item-top {
//     margin-top: 2px !important;
//     margin-bottom: 2px !important;
//     border-radius: $radius;
// }

// .hr-navbar-item-open {
//     background: $black-ter !important;
// }

.hr-navbar {
    user-select: none;
}

.hr-admin-icon>svg>path {
    fill: $white-ter !important;
}

.hr-navbar-icon {
    display: inline-flex;
    align-self: center;
}

.hr-navbar-icon svg {
    height: 20px;
    width: 20px;
    top: 0px;
    position: relative;
}

.hr-navbar-icon-admin {
    display: inline-flex;
    align-self: center;
}

.hr-navbar-icon-admin svg {
    height: 20px !important;
    width: 20px !important;
    top: 0px;
    position: relative;
}

.hr-navbar-icon-admin svg>path {
    fill: $white-ter !important;
}

.hr-navbar-burger {
    color: $white-ter !important;
}

.navbar-brand>.navbar-item>.navbar-item:hover {
    background-color: transparent;
}

// .hr-navbar-burger>span,
// .hr-navbar-burger:hover {
//     color: #fff;
// }

// .hr-navbar-burger:hover {
//     background-color: $black-ter !important;
// }

@media (max-width: 1023px) {
    // .hr-navbar-item-top {
    //     background: unset !important;
    //     margin: 2px !important;
    //     color: unset !important;
    // }

    // .hr-navbar-item-top:hover {
    //     background: $grey-lighter !important;
    //     margin: 2px !important;
    //     border-radius: $radius;
    //     color: unset !important;
    // }

    // .hr-admin-icon>svg>path {
    //     fill: unset !important;
    // }

    // .hr-navbar-menu {
    //     margin: 0 !important;
    //     padding: 8px !important;
    //     background: $white !important;
    // }

    // html.theme-dark .hr-navbar-admin-mode {
    //     margin-left: 2px !important;
    //     margin-right: 2px !important;
    // }

    // html.theme-dark .hr-navbar-menu {
    //     background: $theme-dark-grey-dark !important;
    // }

    // html:not(.theme-dark) .hr-navbar-item:hover:not(.hr-navbar-item-active) {
    //     background: $grey-lighter;
    // }

}

@media (min-width: 1024px) {

    html.theme-light .hr-navbar-item-admin:hover,
    html.theme-light .hr-navbar-item-admin:focus,
    html.theme-light .hr-navbar-item-admin:active {
        background-color: $black-ter !important;
    }

    html.theme-light .hr-navbar-item-admin,
    html.theme-light .hr-navbar-item-admin,
    html.theme-light .hr-navbar-item-admin {
        color: $white-ter !important;
    }

    // .hr-navbar-item-top:hover {
    //     background: $black-ter !important;
    //     color: $white-bis !important;
    // }

    // .hr-navbar-item:hover:not(.hr-navbar-item-active) {
    //     transition: all 250ms;
    //     background: $theme-dark-grey-dark;
    // }

    // .hr-navbar-item-admin:hover,
    // .hr-navbar-item-admin:focus,
    // .hr-navbar-item-admin:active {
    //     background: $theme-dark-grey-dark !important;
    //     transition: all 250ms;
    // }

}