@import "~styles/variables.scss";

.hr-navbar-dummy {
    height: 58px;
    width: 100%;
}

.hr-navbar {
    user-select: none;
    position: fixed !important;
    width: 100%;
    top: 0px;
    background: $grey-darker !important;
}

.hr-navbar-wrap {
    background: $grey-darker !important;
}

.hr-navbar {
    user-select: none;
}

.hr-admin-icon>svg>path {
    fill: $white-ter !important;
}

.hr-navbar-icon {
    display: inline-flex;
    align-self: center;
}

.hr-navbar-icon svg {
    height: 20px;
    width: 20px;
    top: 0px;
    position: relative;
}

.hr-navbar-icon-admin {
    display: inline-flex;
    align-self: center;
}

.hr-navbar-icon-admin svg {
    height: 20px !important;
    width: 20px !important;
    top: 0px;
    position: relative;
}

.hr-navbar-icon-admin svg>path {
    fill: $white-ter !important;
}

.hr-navbar-burger {
    color: $white-ter !important;
}

.navbar-brand>.navbar-item>.navbar-item:hover {
    background-color: transparent;
}

@media (max-width: 1023px) {
    .hr-navbar-menu {
        background-color: var(--bulma-scheme-main) !important;
    }
}

@media (min-width: 1024px) {

    html.theme-light .hr-navbar-item-admin:hover,
    html.theme-light .hr-navbar-item-admin:focus,
    html.theme-light .hr-navbar-item-admin:active {
        background-color: $black-ter !important;
    }

    html.theme-light .hr-navbar-item-admin,
    html.theme-light .hr-navbar-item-admin,
    html.theme-light .hr-navbar-item-admin {
        color: $white-ter !important;
    }

}