@import "../variables-admin.scss";

.hr-navbar-dummy {
    height: 58px;
    width: 100%;
}

.hr-navbar {
    background: $grey-darker !important;
    user-select: none;
    position: fixed !important;
    width: 100%;
    top: 0px;
}

.hr-navbar-item {
    margin: 2px;
    border-radius: $radius;
}

.hr-navbar-item-top {
    background: transparent !important;
    margin: 2px !important;
    color: $white-ter !important;
}

.hr-navbar-item-top:hover {
    background: $black-ter !important;
    color: $white-bis !important;
}

.hr-navbar-dropdown {
    margin-top: 1px;
    padding: 4px !important;
    border-top: unset !important;
    transition: all 250ms;
}

.hr-navbar-item-active,
.hr-navbar-item-active:hover,
.hr-navbar-item-active:focus,
.hr-navbar-item-active:active {
    background: $red !important;
    color: $white !important;
}

.hr-navbar-item:hover:not(.hr-navbar-item-active) {
    background: $grey-lighter !important;
    transition: all 250ms;
}

.hr-navbar-item-open {
    background: $black-ter !important;
}

.hr-navbar {
    user-select: none;
}

.hr-admin-icon>svg>path {
    fill: $white-ter !important;
}

.hr-navbar-burger {
    height: 59px !important;
}

.hr-navbar-burger>span,
.hr-navbar-burger:hover {
    color: #fff;
}

.hr-navbar-burger:hover {
    background-color: $black-ter !important;
}

@media (max-width: 1023px) {
    .hr-navbar-item-top {
        background: unset !important;
        margin: 2px !important;
        color: unset !important;
    }

    .hr-navbar-item-top:hover {
        background: $grey-lighter !important;
        margin: 2px !important;
        border-radius: $radius;
        color: unset !important;
    }

    .hr-admin-icon>svg>path {
        fill: unset !important;
    }

    .hr-navbar-menu {
        margin: 0 !important;
        padding: 8px !important;
        background: $white !important;
    }
}