<h1 class="subtitle is-1 has-text-weight-light">Willkommen</h1>
<p>
    Sie sehen diese Seite, was bedeutet, dass die Implementierung der auf Heretic basierenden Website erfolgreich war.
</p>
<p class="mt-2">
    Anweisungen für die weitere Nutzung und Verwaltung des Inhalts Ihrer Website finden Sie in der Dokumentation.
</p>
