import logoLight from "../../../../../src/core/images/logo.svg"
import logoDark from "../../../../../src/core/images/logo_dark.svg"

<if(input.darkMode)>
    <img src=logoDark/>
</if>
<else>
    <img src=logoLight/>
</else>
