<h1 class="subtitle is-1 has-text-weight-light">Добро пожаловать</h1>
<p>
    Вы видите данную страницу, а это значит, что сборка сайта на Heretic прошла успешно.
</p>
<p class="mt-2">
    Для инструкций по дальнейшей работе и наполнению сайта, пожалуйста, обратитесь к документации.
</p>
