@import "../../../view/variables.scss";

.hr-hf-wrap {
    position: relative;
    padding: 1px;
}

.hr-hf-tab-control {
    background: $yellow;
    color: $grey-darker;
    font-weight: bold;
    padding: 6px;
    border: 1px solid transparent;
    border-radius: $radius;
    width: 30px;
    cursor: pointer;
}

.hr-hf-area {
    border: 1px solid $grey-lighter;
    border-radius: $radius;
    padding: 15px 15px 5px 15px;
    margin-bottom: 20px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.hr-hf-tab {
    border: 1px solid $grey-lighter;
    border-radius: $radius;
    padding: 6px;
    background: $white;
    margin-right: 2px;
    cursor: pointer;
}

.hr-hf-tab-active {
    background-color: $grey-lighter;
    color: $black-ter;
    border: 1px solid transparent;
}

.hr-hf-f-area-label-wrap {
    margin-top: -24px;
    display: flex;
    align-items: center;
}

.hr-hf-f-area-label-dummy {
    height: 10px;
}

.hr-hf-f-area-label {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    background: $white;
    font-size: .75em;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $grey;
    // border-bottom: 1px solid $grey-lighter;
    // border-radius: $radius-large;
}

.hr-hf-loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba($white, 0.8);
    z-index: 40;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hr-hf-form {
    user-select: none;
}

.hr-hf-top-button-icon {
    display: inline-flex;
    align-self: center;
}


.hr-hf-top-button-icon svg {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    top: 0px;
    position: relative;
}

.hr-hf-top-button-icon svg>path {
    fill: $grey-darker !important;
}

.hr-hf-top-button-active-icon svg>path {
    fill: $white !important;
}