@import "../../view/variables.scss";

.hr-navbar-item {
    margin-left: 1px;
    margin-right: 1px;
    border-radius: $radius;
}

.hr-navbar-dropdown {
    margin-top: 1px;
}

.hr-navbar-item-active,
.hr-navbar-item-active:hover,
.hr-navbar-item-active:focus,
.hr-navbar-item-active:active {
    background: $red !important;
    color: $white !important;
}

.hr-navbar-item:hover:not(.hr-navbar-item-active) {
    background: $grey-lighter !important;
    transition: all 250ms;
}

.hr-navbar-item-open {
    background: $grey-lighter !important;
}

.hr-navbar {
    user-select: none;
}