import { mdiMagnify } from "@mdi/js"

<hrouter-link route="base_search" class="navbar-item hr-navbar-item">
    <span class="icon hr-navbar-icon">
        <svg viewBox="0 0 24 24" width="24" height="24" xmlns="http://www.w3.org/2000/svg">
            <path d=mdiMagnify/>
        </svg>
    </span>
</hrouter-link>
