.hr-hfb-modal-notification {
    border-radius: 0 !important;
    padding: 10px;
}

html.heretic-dark .hr-hfb-modal-notification {
    background-color: darken($blue, 20%);
    color: $grey-light;
}

.hr-hfb-settings-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hfb-settings-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-hfb-action-icon svg>path {
    fill: $grey-darker;
}

.hr-hfb-settings-body {
    margin: 0 !important;
    padding: 0 !important;
}

.hr-hfb-settings-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hfb-settings-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-hfb-action-button {
    border-radius: 50% !important;
    height: 29px !important;
}

html.heretic-dark .hr-hfb-action-button {
    width: 30px !important;
}

.hr-hfb-action-button:disabled {
    opacity: 0 !important;
    cursor: unset !important;
}

.hr-hfb-action-icon svg>path {
    fill: $grey-darker !important;
}

.hr-hfb-action-icon-danger svg>path {
    fill: $white !important;
}

html.heretic-dark .hr-hfb-settings-bulk-row:hover {
    background: lighten($heretic-dark-grey-dark, 18%);
    border-radius: $radius;
}

html.heretic-dark .hr-hfi-hr {
    background-color: $grey;
}

@media (max-width: 768px) {
}