@import "./cropper.scss";

.hr-profilePicture-modal-body {
    padding: 0 !important;
}

.profilePictureCropper {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 769px) {
    .hr-profilePicture-modal-card {
        width: 400px;
    }
}