@import "~styles/variables.scss";

.hr-ah-blink {
    animation: hr-ah-blink-animation 1s steps(5, start) infinite;
}

.hr-ah-systemInfo-table {
    border-collapse: separate;
    border-radius: $radius;
    border-spacing: 0;
    border: 1px solid $grey-lighter;
}

html.theme-dark .hr-ah-systemInfo-table {
    border: 1px solid lighten($grey-dark, 10%);
}

.hr-ah-systemInfo-table>tbody>tr:hover {
    background-color: $white-ter;
}

html.theme-dark .hr-ah-systemInfo-table>tbody>tr:hover {
    background-color: $grey-dark;
}

.hr-ah-systemInfo-td-par {
    border-right: 1px solid $grey-lighter !important;
    background-color: $grey-lighter !important;
    text-align: right !important;
}

html.theme-dark .hr-ah-systemInfo-td-par {
    border-right: 1px solid $grey-dark !important;
    background-color: $grey-dark !important;
}

.hr-ah-systemInfo-table>tbody:first-child tr:first-child td:first-child {
    border-radius: $radius 0 0 0;
}

.hr-ah-systemInfo-table>tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 $radius;
}

.hr-ah-tab-icon {
    height: 16px;
    width: 16px;
    top: 0px;
    position: relative;
}

.hr-ah-tab-icon>path {
    fill: $grey-darker;
}

html.theme-dark .hr-ah-tab-icon>path {
    fill: $grey-light;
}

.hr-ah-data-wrap {
    border: 1px solid $grey-lighter;
    border-top: unset;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

html.theme-dark .hr-ah-data-wrap {
    border-color: darken($grey, 10%);
}

html.theme-dark .hr-ah-tabs>ul {
    border-bottom-color: darken($grey, 10%) !important; 
}

html.theme-dark .hr-ah-tab.is-active>a {
    border-color: darken($grey, 10%) !important;
    background-color: $black-bis !important;
}

html.theme-dark .hr-ah-tab>a {
    background: transparent !important;
    border-bottom: unset !important;
    color: $grey-lighter !important
}

html.theme-dark .hr-ah-tab.is-active>a>span {
    margin-top: -2px;
}

html.theme-dark .hr-ah-tab:not(.is-active) {
    margin-top: -2px;
}

html.theme-dark .hr-ah-tab:not(.is-active)>a:hover {
    background: $grey-dark !important;
    border-bottom: 1px solid darken($grey, 10%);
}

.hr-ah-tag-par {
    background-color: $grey-light !important;
    color: $black-bis;
}

html.theme-dark .hr-ah-tag-par {
    background-color: $grey-dark !important;
    color: $white;
}

html.theme-dark strong {
    color: $grey-light;
}

@keyframes hr-ah-blink-animation {
    to {
        visibility: hidden;
    }
}