@import "~styles/variables.scss";

.hr-fs-head {
    background-color: $grey-lighter;
    border-top-right-radius: $radius;
    border-top-left-radius: $radius;
    font-weight: bold;
}

html.heretic-dark .hr-fs-head {
    background-color: $grey-darker;
    color: $white;
}

.hr-fs-dir {
    background-color: darken($yellow, 5%);
}

.hr-fs-dir-odd {
    background-color: darken($yellow, 15%);
}

html.heretic-dark .hr-fs-dir {
    background-color: darken($yellow, 30%);
}

html.heretic-dark .hr-fs-dir>.column {
    color: $grey-lightest;
}

html.heretic-dark .hr-fs-dir-odd {
    background-color: darken($yellow, 35%);
}

.hr-fs-dir>.column {
    color: $black-ter;
}

.hr-fs-file {
    background-color: $grey-lightest;
}

.hr-fs-file-odd {
    background-color: $grey-lighter;
}

html.heretic-dark .hr-fs-file {
    background-color: $grey-dark;
}

html.heretic-dark .hr-fs-file-odd {
    background-color: $grey-darker;
}

.hr-fs-bottomItem {
    border-bottom-right-radius: $radius;
    border-bottom-left-radius: $radius;
}

html.heretic-dark .hr-fs-file-icon>svg>path {
    fill: $white-ter;
}

.hr-fs-file-clickable-area {
    cursor: pointer;
}

.hr-fs-files {
    position: relative;
}

.hr-fs-files-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($white, 0.5);
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    border-radius: $radius;
}

.hr-fs-top-button-icon {
    display: inline-flex;
    align-self: center;
}

.hr-fs-top-button-icon svg {
    height: 16px;
    width: 16px;
    top: 0px;
    position: relative;
}

.hr-fs-top-button-icon svg>path {
    fill: $grey-darker !important;
}

.hr-fs-col {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hr-fs-col-type {
    min-width: 90px;
    max-width: 90px;
    width: 90px;
}

.hr-fs-col-controls {
    min-width: 120px;
    max-width: 120px;
    width: 120px;
}

@media (max-width: 1023px) {

    .hr-fs-col-type,
    .hr-fs-col-controls {
        min-width: unset;
        max-width: unset;
        width: 100%;
    }

    .hr-fs-col-filename {
        margin-left: 8px !important;
    }
}