// Import variables and fonts

@import "~styles/variables.scss";
@import "~styles/buttons.scss";
@import "~styles/tippy.scss";
@import "~styles/checkboxes.scss";
@import "~styles/dark.scss";
@import "~styles/common.scss";

// Template-related styles

[data-color-scheme="dark"] {
    color-scheme: dark;
}

[data-color-scheme="light"] {
    color-scheme: light;
}

.hr-header-wrap {
    height: 40px;
    background: $grey-darker;
}

.hr-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hr-content {
    flex: 1;
}

.hr-footer {
    font-size: 80%;
    background: $white;
    user-select: none;
    box-shadow:
        0 0.2em 1em -0.05em rgba($grey-darker, 0.1),
        0 0 0 1px rgba($grey-darker, 0.02) !important;
}

.hr-menu-wrap {
    background-color: $grey-lightest;
}

html.theme-dark .hr-menu-wrap {
    background-color: $grey-dark;
}

html.theme-dark .hr-footer {
    background: $theme-dark-black-bis !important;
    border-top: 1px solid darken($theme-dark-grey-darker, 2%);
}

.hr-content-area-wrap {
    height: 100%;
}

.hr-html,
.hr-body,
.hr-wrap,
.hr-admin,
.hr-page-content {
    height: 100%;
    margin: 0px;
}

.hr-page-content {
    padding: 10px;
}

.hr-admin-box {
    margin-top: -9px;
    margin-left: -6px;
    margin-right: -6px;
}

.hr-demo-notice {
    position: fixed;
    right: 15px;
    bottom: 15px;
    background: rgba($yellow, 0.7);
    padding: 10px 16px;
    border-radius: $radius;
    z-index: 35;
    font-size: 90%;
    text-align: center;
    box-shadow:
        rgba(17, 17, 26, 0.1) 0px 1px 0px,
        rgba(17, 17, 26, 0.1) 0px 8px 24px,
        rgba(17, 17, 26, 0.1) 0px 16px 48px;
    color: $black;
}

html.theme-dark .hr-demo-notice {
    color: $black-bis;
}

// Begin: hack to make round corners for table

.table.hr-is-bordered {
    border-collapse: separate !important;
}

.table.hr-is-bordered td,
.table.hr-is-bordered th {
    border-bottom-width: 1px;
    border-right: 1px solid $grey-lighter;
}

.table.hr-is-bordered tr:last-child td,
.table.hr-is-bordered tr:last-child th {
    border-bottom-width: 1px;
}

.table.hr-is-bordered thead td,
.table.hr-is-bordered thead th {
    border-bottom-width: 1px;
    border-top: 1px solid $grey-lighter;
}

.table.hr-is-bordered td:first-child,
.table.hr-is-bordered th:first-child {
    border-left: 1px solid $grey-lighter;
}

.table.hr-is-bordered th:first-child {
    border-top-left-radius: $radius;
}

.table.hr-is-bordered th:last-child {
    border-top-right-radius: $radius;
}

.table.hr-is-bordered tr:last-child td:first-child {
    border-bottom-left-radius: $radius;
}

.table.hr-is-bordered tr:last-child td:last-child {
    border-bottom-right-radius: $radius;
}

// End: hack to make round corners for table

@media (max-width: 1023px) {
    .hr-page-content {
        border-left: unset;
    }
}
