// Import variables and fonts

@import "../../../styles/variables.scss";
@import "../../../styles/buttons.scss";
@import "../../../styles/tippy.scss";
@import "../../../styles/checkboxes.scss";
@import "../../../styles/dark.scss";

// Template-related styles

.hr-header-wrap {
    height: 40px;
    background: $grey-darker;
}

.hr-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hr-content {
    flex: 1
}

.hr-footer {
    color: $grey-darker;
    font-size: 80%;
    background: $white;
    user-select: none;
    box-shadow: 0 .2em 1em -.05em rgba($grey-darker, .1), 0 0 0 1px rgba($grey-darker, .02) !important;
}

html.heretic-dark .hr-footer {
    color: $heretic-dark-text-color !important;
    background: $heretic-dark-black-bis !important;
    border-top: 1px solid darken($heretic-dark-grey-darker, 2%);
}

.hr-footer>*>a,
.hr-footer>*>a:hover,
.hr-footer>*>a:active {
    color: $grey-darker;
    text-decoration: none;
    border-bottom: 1px solid $grey-darker;
}

.hr-content-area-wrap {
    height: 100%;
}

.hr-html,
.hr-body,
.hr-wrap,
.hr-admin,
.hr-page-content {
    height: 100%;
    margin: 0px;
}

.hr-page-content {
    padding: 10px;
}

.hr-admin-box {
    margin-top: -9px;
    margin-left: -6px;
    margin-right: -6px;
}

.hr-demo-notice {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: $yellow;
    padding: 6px 10px;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
    z-index: 35;
    font-size: 80%;
    box-shadow: rgba($black, 0.04) 0px 3px 5px;
    text-align: center;
}

html.heretic-dark .hr-demo-notice {
    color: $black-bis;
}

// Begin: hack to make round corners for table

.table.hr-is-bordered {
    border-collapse: separate !important;
}

.table.hr-is-bordered td,
.table.hr-is-bordered th {
    border-bottom-width: 1px;
    border-right: 1px solid $grey-lighter;
}

.table.hr-is-bordered tr:last-child td,
.table.hr-is-bordered tr:last-child th {
    border-bottom-width: 1px;
}

.table.hr-is-bordered thead td,
.table.hr-is-bordered thead th {
    border-bottom-width: 1px;
    border-top: 1px solid $grey-lighter;
}

.table.hr-is-bordered td:first-child,
.table.hr-is-bordered th:first-child {
    border-left: 1px solid $grey-lighter;
}

.table.hr-is-bordered th:first-child {
    border-top-left-radius: $radius;
}

.table.hr-is-bordered th:last-child {
    border-top-right-radius: $radius;
}

.table.hr-is-bordered tr:last-child td:first-child {
    border-bottom-left-radius: $radius;
}

.table.hr-is-bordered tr:last-child td:last-child {
    border-bottom-right-radius: $radius;
}

// End: hack to make round corners for table

@media (max-width: 1023px) {
    .hr-page-content {
        border-left: unset;
    }
}