// Import variables and fonts

@import "./variables-admin.scss";
@import "../../../styles/buttons.scss";
@import "../../../styles/tippy.scss";
@import "../../../styles/checkboxes.scss";
@import "../../../styles/dark.scss";

// Template-related styles

.hr-header-wrap {
    height: 40px;
    background: $grey-darker;
}

.hr-wrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.hr-content {
    flex: 1
}

.hr-footer {
    color: $grey-darker;
    font-size: 80%;
    background: $white;
    user-select: none;
    box-shadow: 0 .2em 1em -.05em rgba($grey-darker, .1), 0 0 0 1px rgba($grey-darker, .02) !important;
}

.hr-footer>*>a,
.hr-footer>*>a:hover,
.hr-footer>*>a:active {
    color: $grey-darker;
    text-decoration: none;
    border-bottom: 1px solid $grey-darker;
}

.hr-content-area-wrap {
    height: 100%;
}

.hr-html,
.hr-body,
.hr-wrap,
.hr-admin,
.hr-page-content {
    height: 100%;
    margin: 0px;
}

.hr-page-content {
    padding: 10px;
}

.hr-admin-box {
    margin-top: -9px;
    margin-left: -6px;
    margin-right: -6px;
}

@media (max-width: 1023px) {
    .hr-page-content {
        border-left: unset;
    }
}