.hr-hr-settings-body,
.hr-hr-actions-body {
    margin: 0 !important;
    padding: 0 !important;
    border-radius: 0;
}

.hr-hr-actions-body {
    border-bottom: 1px solid $grey-lighter;
}

html.theme-dark .hr-hr-actions-body {
    background-color: $grey-dark;
    border-bottom: 1px solid $grey-darker;
}

.hr-hr-recycleBin-pagination-wrap {
    border-top: 1px solid $grey-lighter;
    background: $white;
}

html.theme-dark .hr-hr-recycleBin-pagination-wrap {
    background: $theme-dark-grey-dark;
}

.hr-hr-recycleBin-pagination-wrap>nav {
    margin-top: 0 !important;
}

.hr-hr-recycleBin-cell {
    padding-top: 3px;
}

.hr-hr-action-button {
    border-radius: 50% !important;
    height: 29px !important;
}

html.theme-dark .hr-hr-action-button {
    width: 30px !important;
}

.hr-hr-action-button:disabled {
    opacity: 0 !important;
    cursor: unset !important;
}

.hr-hr-action-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hr-action-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-hr-lock-icon svg {
    height: 17px;
    width: 17px;
    top: 9px;
    left: 6px;
    position: relative;
}

.hr-hr-lock-icon>svg>path {
    fill: $grey !important;
}

.hr-hr-settings-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hr-settings-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-hr-action-icon svg>path {
    fill: $grey-darker;
}

.hr-hr-action-icon-danger svg>path {
    fill: $white !important;
}

.hr-hr-top-button-icon,
.hr-hr-top-button-icon-danger {
    display: inline-flex;
    align-self: center;
}

.hr-hr-top-button-icon svg,
.hr-hr-top-button-icon-danger svg {
    height: 16px;
    width: 16px;
    top: 0px;
    position: relative;
}

.hr-hr-top-button-icon svg>path {
    fill: $grey-darker;
}

.hr-hr-top-button-icon-danger svg>path {
    fill: $white !important;
}

@media (max-width: 768px) {}