@import "../../../../view/variables.scss";

.hr-hf-label {
    font-weight: normal !important;
}

.hr-hf-field-xxlarge {
    width: 450px;
    min-width: 450px;
    max-width: 450px;
}

.hr-hf-field-xlarge {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
}

.hr-hf-field-large {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.hr-hf-field-medium {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

.hr-hf-field-small {
    width: 130px;
    min-width: 130px;
    max-width: 130px;
}

.hr-hf-field-date {
    width: 120px !important;
    min-width: 120px !important;
    max-width: 120px !important;
}

.hr-hf-label-mandatory {
    color: $red;
}

.hr-hf-text-input {
    min-width: 100px !important;
}

.hr-hf-error-wrap {
    margin-top: -5px;
}

.hr-hf-error-wrap-captcha {
    margin-top: -9px;
}

.hr-hf-error-tag {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.hr-hf-captcha-input {
    width: 90px !important;
    text-align: center;
}

.hr-hf-captcha-image {
    border: 1px solid $grey-lighter;
    width: 100px;
    height: 40px;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    cursor: pointer;
}

.hr-hf-captcha-image-reload {
    margin-top: 18px;
    margin-left: -14px;
    opacity: 0.6;
    cursor: pointer;
}

.hr-hf-calendar-wrap {
    border: 1px solid $grey-lightest;
    width: 230px;
    min-width: 230px;
    position: absolute;
    z-index: 1000;
    background: $white;
    box-shadow: -2px 4px 8px -5px rgba(34, 60, 80, 0.2);
    margin-top: 1px;
    border-radius: 4px;
}

html.heretic-dark .hr-hf-calendar-wrap {
    border: 1px solid $heretic-dark-grey;
    background: lighten($heretic-dark-grey-dark, 6%);
}

.hr-hf-date-input {
    text-align: center;
}

.hr-hf-file-cta {
    margin-bottom: 3px;
}

.hr-hf-action-button {
    border-radius: 50% !important;
    height: 29px !important;
}

.hr-hf-settings-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-hf-action-icon svg>path {
    fill: $grey-darker !important;
}

.hr-hf-action-icon-danger svg>path {
    fill: $white !important;
}

.hr-hf-keyValue-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.hr-hf-keyValue-row:hover {
    background: $white-ter;
    border-radius: $radius;
}

html.heretic-dark .hr-hf-keyValue-row:hover {
    background: darken($heretic-dark-grey, 20%);
}

html:not(.heretic-dark) .hr-hf-tags-wrap {
    height: unset !important;
    min-height: 2.5em;
    margin-left: 0 !important;
    padding-top: 5px !important;
    padding-bottom: 3px !important;
}

.hr-hf-tag-delete {
    margin-right: 3px !important;
}

html:not(.heretic-dark) .hr-hf-tags-wrap-focus {
    border-color: $link !important;
    box-shadow: 0 0 0 0.125em rgba($link, 0.25) !important;
}

html.heretic-dark .hr-hf-tags-wrap {
    background: $heretic-dark-grey-dark !important;
    box-shadow: inset 0 0.0625em 0.125em $heretic-dark-black !important;
    border: 1px solid lighten($heretic-dark-grey-darker, 8%);
    color: $heretic-dark-text-color-light !important;
    outline: 0 !important;
}

html.heretic-dark .hr-hf-tags-wrap-focus {
    border: 1px solid lighten($grey-darker, 22%) !important;
}

.hr-hf-tags-wrap-focus.is-danger {
    border-color: $red !important;
    box-shadow: 0 0 0 0.125em rgba($red, 0.25) !important;
}

.hr-hf-tags-input {
    border: 0 !important;
    width: 100%;
    box-shadow: unset !important;
    height: 100% !important;
    min-width: 80px;
    border-radius: 0 !important;
    margin-top: 1px !important;
}

.hr-hf-tag-wrap {
    min-height: 26px;
}

.hr-hf-tags-enum-wrap {
    position: absolute;
    border: 1px solid $grey-lightest;
    border-radius: $radius;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: $white;
    padding: 5px;
    box-shadow: -2px 4px 8px -5px rgba(34, 60, 80, 0.2);
    max-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 7px;
}

.hr-hf-label-button {
    height: 22px !important;
}

.hr-hf-error-password-wrap {
    margin-top: -29px;
}

.hr-hf-error-tags-wrap {
    margin-top: 8px;
}

.hr-hf-textarea-log {
    min-height: 150px;
    resize: vertical;
}

.hr-hf-calendar-wrap-right {
    margin-left: -125px;
}

.hr-hf-log-values-table {
    max-width: 500px;
    font-size: 90%;
    border-radius: $radius;
    background-color: $white-ter !important;
}

.hr-hf-log-values-table>tbody>tr>td {
    vertical-align: middle;
}

@keyframes hr-hf-error-bounce {
    0% {
        transform: translateX(0px);
        timing-function: ease-in;
    }

    37% {
        transform: translateX(5px);
        timing-function: ease-out;
    }

    55% {
        transform: translateX(-5px);
        timing-function: ease-in;
    }

    73% {
        transform: translateX(4px);
        timing-function: ease-out;
    }

    82% {
        transform: translateX(-4px);
        timing-function: ease-in;
    }

    91% {
        transform: translateX(2px);
        timing-function: ease-out;
    }

    96% {
        transform: translateX(-2px);
        timing-function: ease-in;
    }

    100% {
        transform: translateX(0px);
        timing-function: ease-in;
    }
}

.hr-hf-error-bounce {
    animation-name: hr-hf-error-bounce;
    animation-duration: .5s;
    // animation-delay: 0.25s;
}

@media (max-width: 1023px) {
}

@media (max-width: 769px) {
    .hr-hf-field-xxlarge,
    .hr-hf-field-xlarge,
    .hr-hf-field-large,
    .hr-hf-field-medium,
    .hr-hf-field-small {
        width: 100% !important;
        min-width: unset !important;
        max-width: unset !important;
    }

    .hr-hf-calendar-wrap-right {
        margin-left: unset;
    }
}