@import "../../../../view/variables.scss";

.hr-hf-label {
    font-weight: normal !important;
}

.hr-hf-field-xxlarge {
    width: 450px !important;
    min-width: 450px !important;
    max-width: 450px !important;
}

.hr-hf-field-xlarge {
    width: 350px !important;
    min-width: 350px !important;
    max-width: 350px !important;
}

.hr-hf-field-large {
    width: 250px !important;
    min-width: 250px !important;
    max-width: 250px !important;
}

.hr-hf-field-medium {
    width: 180px !important;
    min-width: 180px !important;
    max-width: 180px !important;
}

.hr-hf-field-small {
    width: 130px !important;
    min-width: 130px !important;
    max-width: 130px !important;
}

.hr-hf-field-date {
    width: 120px !important;
    min-width: 120px !important;
    max-width: 120px !important;
}

.hr-hf-label-mandatory {
    color: $red;
}

.hr-hf-text-input {
    min-width: 100px !important;
}

.hr-hf-view-input {
    padding: 7px 11px;
    height: 40px;
    border-radius: $radius;
    background: $white-ter;
}

.hr-hf-date-input {
    text-align: center;
}

.hr-hf-file-cta {
    margin-bottom: 3px;
}

@media (max-width: 769px) {
    .hr-hf-field-xxlarge {
        width: unset !important;
        min-width: unset !important;
        max-width: unset !important;
    }
}