@import "../../../styles/variables.scss";

.hr-hf-label {
    font-weight: normal !important;
}

.hr-hf-field-xxlarge {
    width: 450px;
    min-width: 450px;
    max-width: 450px;
}

.hr-hf-field-xlarge {
    width: 350px;
    min-width: 350px;
    max-width: 350px;
}

.hr-hf-field-large {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}

.hr-hf-field-medium {
    width: 180px;
    min-width: 180px;
    max-width: 180px;
}

.hr-hf-field-small {
    width: 130px;
    min-width: 130px;
    max-width: 130px;
}

.hr-hf-field-date {
    width: 120px !important;
    min-width: 120px !important;
    max-width: 120px !important;
}

.hr-hf-label-mandatory {
    color: $red;
}

.hr-hf-text-input {
    min-width: 100px !important;
}

.hr-hf-view-input {
    padding: 7px 11px;
    height: 40px;
    border-radius: $radius;
    background: $white-ter;
    user-select: text;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

html.heretic-dark .hr-hf-view-input {
    background: lighten($heretic-dark-grey-dark, 6%);
    color: $heretic-dark-text-color;
}

.hr-hf-date-input {
    text-align: center;
}

.hr-hf-file-cta {
    margin-bottom: 3px;
}

.hr-hf-view-wysiwyg {
    border: 1px solid $grey-lighter;
    padding: 10px;
    border-radius: $radius;
}

.hr-hf-log-values-table-view {
    max-width: 500px;
    font-size: 90%;
    background-color: $white-ter !important;
    border-radius: $radius;
    user-select: text;
}

.hr-hf-log-values-table-view>tbody>tr>td {
    vertical-align: middle;
}

@media (max-width: 769px) {
    .hr-hf-field-xxlarge,
    .hr-hf-field-xlarge,
    .hr-hf-field-large,
    .hr-hf-field-medium,
    .hr-hf-field-small {
        width: 100% !important;
        min-width: unset !important;
        max-width: unset !important;
    }

    .hr-hf-field-xxlarge {
        width: unset !important;
        min-width: unset !important;
        max-width: unset !important;
    }
}