@import "../../../../components/hadmin/heretic-admin/variables-admin.scss";

.editModal-card-body>.hr-hf-wrap>.hr-hf-form>.hr-hf-area {
    margin-bottom: 0 !important;
}

html.heretic-dark .editModal-card-body>.hr-hf-wrap>.hr-hf-form>.hr-hf-area {
    border: 1px solid $grey;
}

._groupsForm-errorNotification {
    margin-top: 0 !important;
}

.hr-groups-edit-modal-foot {
    position: relative !important;
    z-index: 0 !important;
}

// @media (max-width: 769px) {
//     .hr-groups-edit-modal>.hr-hm-modal-card {
//         height: 90vh;
//     }
// }