.hr-hfe-settings-filters-row:hover,
.hr-hfe-settings-bulk-row:hover,
.hr-hfe-export-columns-row:hover {
    background: $white-ter;
    border-radius: $radius;
}

html.heretic-dark .hr-hfe-settings-filters-row:hover {
    background: lighten($heretic-dark-grey-dark, 18%);
    border-radius: $radius;
}

.hr-hfe-tabs {
    margin: 5px 5px 0 5px !important;
    height: 40px;
}

.hr-hfe-tabs>ul {
    position: absolute;
    top: 5px;
}

.hr-hfe-tabs>ul>li:not(.is-active)>a:hover {
    background: unset !important;
}

.hr-hfe-tabs a,
.hr-hfe-tabs ul {
    border-bottom-style: none !important;
}

.hr-hfe-tabs-wrap {
    border-radius: 0 !important;
    background: $white-bis !important;
}

html.heretic-dark .hr-hfe-tabs-wrap {
    background-color: $heretic-dark-grey-dark !important;
}

.hr-hfe-settings-body {
    margin: 0 !important;
    padding: 0 !important;
}

.hr-hfe-settings-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hfe-settings-icon svg {
    height: 23px;
    width: 23px;
    top: 1px;
    left: 0;
    position: relative;
}

.hr-hfe-action-button {
    border-radius: 50% !important;
    height: 29px !important;
}

html.heretic-dark .hr-hfe-action-button {
    width: 30px !important;
}

.hr-hfe-action-button:disabled {
    opacity: 0 !important;
    cursor: unset !important;
}

.hr-hfe-settings-switch {
    margin-top: 3px !important;
}

@media (max-width: 768px) {
}