.hr-hf-settings-body {
    margin: 0 !important;
    padding: 0 !important;
}

.hr-hf-settings-columns-drop-area,
.hr-hf-export-columns-drop-area {
    height: 5px;
    border: 1px dashed $grey-lighter;
    background: $grey-lightest;
}

html.heretic-dark .hr-hf-settings-columns-drop-area,
html.heretic-dark .hr-hf-export-columns-drop-area {
    background: $heretic-dark-grey-dark;
    border: 1px dashed darken($heretic-dark-grey-dark, 20%);
}

.hr-hf-settings-columns-drop-area-over,
.hr-hf-export-columns-drop-area-over {
    background: $yellow;
}

.hr-hf-drag-icon {
    display: inline-flex;
    align-self: center;
}

.hr-hf-drag-icon svg {
    height: 18px;
    width: 18px;
    top: 2px;
    position: relative;
}

.hr-hf-drag-icon svg>path {
    fill: $grey !important;
}

.hr-hf-settings-switch,
.hr-hf-export-switch {
    margin-top: 3px !important;
}

.hr-hf-settings-columns-row:hover,
.hr-hf-settings-filters-row:hover,
.hr-hf-settings-bulk-row:hover,
.hr-hf-export-columns-row:hover {
    background: $white-ter;
    border-radius: $radius;
}

html.heretic-dark .hr-hf-settings-columns-row:hover,
html.heretic-dark .hr-hf-settings-filters-row:hover,
html.heretic-dark .hr-hf-settings-bulk-row:hover,
html.heretic-dark .hr-hf-export-columns-row:hover {
    background: lighten($heretic-dark-grey-dark, 18%);
    border-radius: $radius;
}

.hr-hf-settings-columns-drop-area,
.hr-hf-export-columns-drop-area {
    height: 5px;
    border: 1px dashed $grey-lighter;
    background: $grey-lightest;
}

html.heretic-dark .hr-hf-settings-columns-drop-area,
html.heretic-dark .hr-hf-export-columns-drop-area {
    background: $heretic-dark-grey-dark;
    border: 1px dashed darken($heretic-dark-grey-dark, 20%);
}

.hr-hf-settings-columns-drop-area-over,
.hr-hf-export-columns-drop-area-over {
    background: $yellow;
}

.hr-hm-tabs {
    margin: 5px 5px 0 5px !important;
    height: 40px;
}

.hr-hm-tabs>ul {
    position: absolute;
    top: 5px;
}

.hr-hm-tabs>ul>li:not(.is-active)>a:hover {
    background: unset !important;
}

.hr-hm-tabs a,
.hr-hm-tabs ul {
    border-bottom-style: none !important;
}

.hr-hm-tabs-wrap {
    border-radius: 0 !important;
    background: $white-bis !important;
}

html.heretic-dark .hr-hm-tabs-wrap {
    background-color: $heretic-dark-grey-dark !important;
}

@media (max-width: 768px) {
}