import { mdiRobotDead } from '@mdi/js'

<div class="hr-500-overlay">
    <div
        class="icon hr-500-icon-wrap"
        style={
            opacity: state.iconWrapOpacity
        }>
        <svg class="hr-500-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d=mdiRobotDead/>
        </svg>
    </div>
</div>
