<!DOCTYPE html>
<html class="hr-e-int-html">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>${input.title} | ${input.siteTitle}</title>
        <style type="text/css">
            .hr-e-int-html,
            .hr-e-int-body {
                margin: 0;
                background: #f1534b;
                color: #fff;
                height: 100%;
                font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
            }
            .hr-e-int-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                text-align: center;
            }
        </style>
    </head>
    <body class="hr-e-int-body">
        <div class="hr-e-int-wrap">
            <p>${input.message}</p>
        </div>
    </body>
</html>
--

--
