.hr-hfs-scroll-wrap {
    overflow-x: auto;
    height: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hr-hfs-scroll-wrap::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 10px;
}

.hr-hfs-scroll-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .5);
}

.hr-hfs-scroll-inner {
    height: 1px;
}