import SignInForm from "../../data/signInFormUserspace"

<if(state.ready)>
    <hform key="signInForm" id="signInForm" data=(new SignInForm(process.browser && window.__heretic ? window.__heretic.t : out.global.t)) on-form-submit("onFormSubmit")/>
</if>
<else>
    <hloading active=true/>
</else>
