@use "sass:color";

.button.is-light {
    border-top: 1px solid color.adjust($white-ter, $lightness: 3%);
    border-left: 1px solid color.adjust($white-ter, $lightness: 8%);
    border-right: 1px solid color.adjust($white-ter, $lightness: 8%);
    border-bottom: unset;
    box-shadow:
        0 2px 0 0 color.adjust($white-ter, $lightness: 20%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%);
    color: $grey-darker;
}

.button.is-light:hover:enabled {
    border-top: 1px solid color.adjust($white-ter, $lightness: -4%);
    border-left: 1px solid color.adjust($white-ter, $lightness: -9%);
    border-right: 1px solid color.adjust($white-ter, $lightness: -9%);
    border-bottom: unset;
    box-shadow:
        0 2px 0 0 color.adjust($white-ter, $lightness: -23%),
        1px 10px 16px -16px color.adjust($black, $lightness: 25%),
        rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px !important;
}

.button.is-primary {
    background-color: $primary;
    box-shadow:
        0 2px 0 0 color.adjust($primary, $lightness: -10%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%) !important;
    border-bottom: color.adjust($primary, $lightness: -25%) !important;
    color: $grey-lightest !important;
}

.button.is-primary:hover:enabled {
    box-shadow:
        0 2px 0 0 color.adjust($primary, $lightness: -20%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%),
        rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px !important;
}

.button.is-link {
    box-shadow:
        0 2px 0 0 color.adjust($grey, $lightness: -15%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%);
    color: $grey-lightest;
}

.button.is-link:hover:enabled {
    box-shadow:
        0 2px 0 0 color.adjust($grey, $lightness: -20%),
        1px 10px 16px -16px color.adjust($black, $lightness: 25%),
        rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px !important;
}

.button.is-info {
    box-shadow:
        0 2px 0 0 color.adjust($blue, $lightness: -20%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%);
}

.button.is-info:hover:enabled {
    box-shadow:
        0 2px 0 0 color.adjust($blue, $lightness: -23%),
        1px 10px 16px -16px color.adjust($black, $lightness: 25%),
        rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px !important;
}

.button.is-success {
    box-shadow:
        0 2px 0 0 color.adjust($green, $lightness: -20%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%) !important;
    color: $white-bis;
}

.button.is-success > span > svg > path {
    fill: $white-bis !important;
}

.button.is-success:hover:enabled {
    box-shadow:
        0 2px 0 0 color.adjust($green, $lightness: -23%),
        1px 10px 16px -16px color.adjust($black, $lightness: 25%),
        rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px !important;
    color: $white-bis !important;
}

.button.is-warning {
    box-shadow:
        0 2px 0 0 color.adjust($yellow, $lightness: -22%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%);
    color: color.adjust($grey-dark, $lightness: 5%);
}

html.theme-dark .button.is-warning > span > svg > path {
    fill: color.adjust($grey-dark, $lightness: 5%) !important;
}

.button.is-warning:hover:enabled {
    box-shadow:
        0 2px 0 0 color.adjust($yellow, $lightness: -27%),
        1px 10px 16px -16px color.adjust($black, $lightness: 25%),
        rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px !important;
    color: color.adjust($grey-dark, $lightness: 5%) !important;
}

.button.is-danger {
    box-shadow:
        0 2px 0 0 color.adjust($red, $lightness: -20%),
        1px 6px 16px -16px color.adjust($black, $lightness: 15%);
    color: $white-bis;
}

.button.is-danger:hover:enabled {
    box-shadow:
        0 2px 0 0 color.adjust($red, $lightness: -25%),
        1px 10px 16px -16px color.adjust($black, $lightness: 25%),
        rgba(50, 50, 93, 0.15) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.1) 0px 3px 7px -3px !important;
}

.button.is-small {
    height: 31px;
}
