// Dark theme

html.heretic-dark,
html.heretic-dark body,
html.heretic-dark .box,
html.heretic-dark pre {
    background: $heretic-dark-black-bis;
    color: $heretic-dark-text-color;
}

html.heretic-dark .hr-footer {
    color: $heretic-dark-text-color-light;
    font-size: 80%;
}

html.heretic-dark .title {
    color: $heretic-dark-text-color-light;
}

html.heretic-dark .navbar {
    background: transparent;
}

html.heretic-dark .navbar-start>.navbar-item,
html.heretic-dark .navbar-end>.navbar-item,
html.heretic-dark .navbar-start>.navbar-item>.navbar-link,
html.heretic-dark .navbar-end>.navbar-item>.navbar-link {
    background: transparent;
    background-color: transparent;
    color: $heretic-dark-text-color;
    border-radius: $radius;
}

html.heretic-dark .navbar-start>.navbar-item:hover:not(.hr-navbar-item-active),
html.heretic-dark .navbar-end>.navbar-item:hover:not(.hr-navbar-item-active),
html.heretic-dark .navbar-start>.navbar-item>.navbar-link:hover:not(.hr-navbar-item-active),
html.heretic-dark .navbar-end>.navbar-item>.navbar-link:hover:not(.hr-navbar-item-active),
html.heretic-dark .navbar-start>.navbar-item:focus:not(.hr-navbar-item-active),
html.heretic-dark .navbar-end>.navbar-item:focus:not(.hr-navbar-item-active),
html.heretic-dark .navbar-start>.navbar-item>.navbar-link:focus:not(.hr-navbar-item-active),
html.heretic-dark .navbar-end>.navbar-item>.navbar-link:focus:not(.hr-navbar-item-active),
html.heretic-dark .navbar-start>.navbar-item:active:not(.hr-navbar-item-active),
html.heretic-dark .navbar-end>.navbar-item:active:not(.hr-navbar-item-active),
html.heretic-dark .navbar-start>.navbar-item>.navbar-link:active:not(.hr-navbar-item-active),
html.heretic-dark .navbar-end>.navbar-item>.navbar-link:active:not(.hr-navbar-item-active) {
    background: lighten($heretic-dark-grey-dark, 18%) !important;
    background-color: lighten($heretic-dark-grey-dark, 18%) !important;
    color: $heretic-dark-text-color;
    outline: 0 !important;
    box-shadow: unset !important;
}

html.heretic-dark .hr-navbar-item-active {
    background: $heretic-dark-primary-color !important;
    background-color: $heretic-dark-primary-color !important;
}

html.heretic-dark .navbar-dropdown,
html.heretic-dark .dropdown-content {
    background: lighten($heretic-dark-grey-dark, 6%);
    border-radius: $radius !important;
    box-shadow: -1px 10px 39px -13px rgba(0, 0, 0, 0.65) !important;
}

html.heretic-dark .navbar-dropdown>.navbar-item,
html.heretic-dark .dropdown-menu>.dropdown-content>.dropdown-item,
html.heretic-dark .dropdown-menu>.dropdown-content>.dropdown-item>span {
    color: $heretic-dark-text-color;
}

html.heretic-dark .navbar-dropdown>.navbar-item:hover,
html.heretic-dark .dropdown-menu>.dropdown-content>.dropdown-item:hover,
html.heretic-dark .dropdown-menu>.dropdown-content>.dropdown-item:hover>span {
    background: lighten($heretic-dark-grey-dark, 18%) !important;
    color: $heretic-dark-text-color-light !important;
}

html.heretic-dark .navbar-dropdown>.dropdown-divider {
    background: darken($heretic-dark-grey-dark, 20%);
}

html.heretic-dark .navbar-start>.navbar-link,
html.heretic-dark .navbar-end>.navbar-link,
html.heretic-dark .navbar-start>.navbar-link>*,
html.heretic-dark .navbar-end>.navbar-link>* {
    color: $heretic-dark-text-color;
}

html.heretic-dark .navbar-burger {
    color: $heretic-dark-text-color;
}

html.heretic-dark .navbar-burger:hover,
html.heretic-dark .navbar-burger:focus,
html.heretic-dark .navbar-burger:active {
    color: $heretic-dark-text-color-light;
}

html.heretic-dark a {
    color: $heretic-dark-blue;
}

html.heretic-dark a:hover,
html.heretic-dark a:focus,
html.heretic-dark a:active {
    color: lighten($heretic-dark-blue, 8%);
    outline: 0 !important;
    box-shadow: 0 !important;
}

// Table

html.heretic-dark .table {
    background: $heretic-dark-black-bis;
    color: $heretic-dark-text-color;
}

html.heretic-dark .table>thead>tr>th {
    background: $heretic-dark-grey-dark !important;
    color: $heretic-dark-text-color-light !important;
}

html.heretic-dark .content table td,
html.heretic-dark .content table th,
html.heretic-dark .table td,
html.heretic-dark .table th {
    border-color: lighten($heretic-dark-grey-dark, 10%);
}

html.heretic-dark .table.is-striped>tbody>tr:nth-child(even) {
    background: darken($heretic-dark-grey-darker, 5%) !important;
}

html.heretic-dark .table.is-striped>tbody>tr:nth-child(odd) {
    background: darken($heretic-dark-grey-darker, 1%) !important;
}

html.heretic-dark .table.is-striped>tbody>tr:nth-child(odd):hover {
    background: lighten($heretic-dark-grey-darker, 5%) !important;
}

html.heretic-dark .table.is-striped>tbody>tr:nth-child(even):hover {
    background: lighten($heretic-dark-grey-darker, 5%) !important;
}

html.heretic-dark .table.hr-is-bordered td,
html.heretic-dark .table.hr-is-bordered th {
    border-right: 1px solid lighten($heretic-dark-grey-dark, 10%);
}

html.heretic-dark .table.hr-is-bordered thead td,
html.heretic-dark .table.hr-is-bordered thead th {
    border-top: 1px solid lighten($heretic-dark-grey-dark, 10%);
}

html.heretic-dark .table.hr-is-bordered td:first-child,
html.heretic-dark .table.hr-is-bordered th:first-child {
    border-left: 1px solid lighten($heretic-dark-grey-dark, 10%);
}

// Tabs

html.heretic-dark .tabs>ul>li>a {
    color: $white;
    border-bottom-color: $white !important;
}

html.heretic-dark .tabs>ul>li.is-active>a {
    color: $blue;
    border-bottom-color: $blue !important;
}

// Pagination

html.heretic-dark .pagination-link,
html.heretic-dark .pagination-previous,
html.heretic-dark .pagination-next {
    background: $grey-dark;
    color: $heretic-dark-text-color;
    border: unset;
}

html.heretic-dark .pagination-link:not(.is-current):hover,
html.heretic-dark .pagination-previous:not(.is-current):hover,
html.heretic-dark .pagination-next:not(.is-current):hover {
    background: lighten($heretic-dark-grey-dark, 18%);
    color: $heretic-dark-text-color-light;
}

html.heretic-dark .pagination-link.is-current {
    background: $primary;
}

html.heretic-dark .pagination-link:hover.is-current {
    background: lighten($primary, 10%);
    color: $heretic-dark-text-color-light;
}

// Form

html.heretic-dark input.input::placeholder {
    color: darken($heretic-dark-text-color, 30%);
}

html.heretic-dark input.input,
html.heretic-dark textarea.input,
html.heretic-dark .select>select {
    background: $heretic-dark-grey-dark;
    box-shadow: inset 0 0.0625em 0.125em $heretic-dark-black;
    border: 1px solid lighten($heretic-dark-grey-darker, 8%);
    color: $heretic-dark-text-color-light;
    outline: 0 !important;
}

html.heretic-dark input.input:hover,
html.heretic-dark input.input:focus,
html.heretic-dark input.input:active,
html.heretic-dark textarea.input:hover,
html.heretic-dark textarea.input:focus,
html.heretic-dark textarea.input:active,
html.heretic-dark .select>select:hover,
html.heretic-dark .select>select:focus,
html.heretic-dark .select>select:active {
    border: 1px solid lighten($grey-darker, 22%);
}

html.heretic-dark .label {
    color: $heretic-dark-text-color;
}

// Dialogs

html.heretic-dark .modal-card-head {
    background: lighten($heretic-dark-grey-dark, 10%);
}

html.heretic-dark .modal-card-body {
    background: lighten($heretic-dark-grey-dark, 6%);
}

html.heretic-dark .modal-card-foot {
    background: lighten($heretic-dark-grey-dark, 10%) !important;
}

html.heretic-dark .modal-card-foot {
    border-top-color: $heretic-dark-grey-dark;
}

html.heretic-dark .modal-card-head {
    border-bottom-color: darken($heretic-dark-grey-dark, 2%);
}

html.heretic-dark .modal-card-title {
    color: $heretic-dark-text-color-light;
}

html.heretic-dark .delete {
    background: darken($heretic-dark-grey, 35%);
}

html.heretic-dark .delete:hover {
    background: darken($heretic-dark-grey-dark, 20%);
}

// Tags

html.heretic-dark .tag.is-delete {
    background: $grey-dark;
}

html.heretic-dark .tag.is-white {
    background: $grey-dark;
}

html.heretic-dark .tag.is-light {
    background: $heretic-dark-grey-dark;
    color: $heretic-dark-text-color-light;
}


html.heretic-dark .tag.is-danger.is-light {
    background: darken($red, 30%);
}

html.heretic-dark .tag.is-success.is-light {
    background: darken($green, 30%);
}

html.heretic-dark .tag.is-warning.is-light {
    background: darken($yellow, 30%);
}

// Card

html.heretic-dark .card,
html.heretic-dark .card-content {
    background: lighten($heretic-dark-grey-dark, 6%);
}

html.heretic-dark .card-content {
    color: $heretic-dark-text-color;
}

// Menu

html.heretic-dark .menu>.menu-list>li>a,
html.heretic-dark .menu>.menu-list>li>a.is-active,
html.heretic-dark .menu>.menu-list>li>a.is-active:hover {
    color: $heretic-dark-text-color-light;
}

html.heretic-dark .menu>.menu-list>li>a:hover:not(.is-active) {
    background: $heretic-dark-text-color !important;
    color: $heretic-dark-grey-dark !important;
}

// Title

html.heretic-dark .title,
html.heretic-dark .subtitle {
    color: $heretic-dark-text-color-light;
}

@media (max-width: 1023px) {

    html.heretic-dark .navbar-menu {
        background: $black;
        padding: 10px;
    }

    html.heretic-dark .navbar-dropdown,
    html.heretic-dark .dropdown-content {
        box-shadow: unset !important;
    }

    html.heretic-dark .navbar-item.has-dropdown {
        margin-left: 2px;
        margin-right: 2px;
    }

}