.hr-hld-loader {
    width: 40px;
    height: 40px;
    position: relative;
    animation: hr-hld-loader 2.5s infinite linear both;
}

.hr-hld-loader-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: hr-hld-loader-dot 2.0s infinite ease-in-out both;
}

.hr-hld-loader-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: $grey;
    border-radius: 100%;
    animation: hr-hld-loader-dot-before 2.0s infinite ease-in-out both;
}

html.heretic-dark .hr-hld-loader-dot:before {
    background-color: $heretic-dark-text-color;
}

.hr-hld-loader-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.hr-hld-loader-dot:nth-child(2) {
    animation-delay: -1.0s;
}

.hr-hld-loader-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.hr-hld-loader-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.hr-hld-loader-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.hr-hld-loader-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.hr-hld-loader-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.hr-hld-loader-dot:nth-child(2):before {
    animation-delay: -1.0s;
}

.hr-hld-loader-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.hr-hld-loader-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.hr-hld-loader-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.hr-hld-loader-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes hr-hld-loader {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hr-hld-loader-dot {

    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hr-hld-loader-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1.0);
    }
}