.hr-hld-loader-spinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #999;
    animation:
        hr-hld-loader-spinner-frames-1 0.8s infinite linear alternate,
        hr-hld-loader-spinner-frames-2 1.6s infinite linear;
}

@keyframes hr-hld-loader-spinner-frames-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes hr-hld-loader-spinner-frames-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

.hr-hld-loader-line {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: relative;
    color: $grey-dark;
    box-sizing: border-box;
    animation: hr-hld-loader-line 2s linear infinite;
    margin-left: 35px;
    transition: opacity 0.3s ease-in-out;
}

@keyframes hr-hld-loader-line {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}

.hr-hld-loader-progress {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: $grey-lighter;
    overflow: hidden;
}

html.theme-dark .hr-hld-loader-progress {
    background: $grey;
}

html.theme-dark .hr-hld-loader-progress::after {
    background: $grey-lighter;
}

.hr-hld-loader-progress::after {
    content: '';
    width: 192px;
    height: 4.8px;
    background: $grey;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: hr-hld-loader-animationLoader2 2s linear infinite;
}

@keyframes hr-hld-loader-animationLoader2 {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}