.hr-hld-loader {
    width: 40px;
    height: 40px;
    position: relative;
    animation: hr-hld-loader 2.5s infinite linear both;
    transition: opacity 0.3s ease-in-out;
}

.hr-hld-loader-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: hr-hld-loader-dot 2s infinite ease-in-out both;
    transition: opacity 0.3s ease-in-out;
}

.hr-hld-loader-dot:before {
    content: "";
    display: block;
    width: 25%;
    height: 25%;
    background-color: $grey;
    border-radius: 100%;
    animation: hr-hld-loader-dot-before 2s infinite ease-in-out both;
}

html.theme-dark .hr-hld-loader-dot:before {
    background-color: $theme-dark-text-color;
}

.hr-hld-loader-dot:nth-child(1) {
    animation-delay: -1.1s;
}

.hr-hld-loader-dot:nth-child(2) {
    animation-delay: -1s;
}

.hr-hld-loader-dot:nth-child(3) {
    animation-delay: -0.9s;
}

.hr-hld-loader-dot:nth-child(4) {
    animation-delay: -0.8s;
}

.hr-hld-loader-dot:nth-child(5) {
    animation-delay: -0.7s;
}

.hr-hld-loader-dot:nth-child(6) {
    animation-delay: -0.6s;
}

.hr-hld-loader-dot:nth-child(1):before {
    animation-delay: -1.1s;
}

.hr-hld-loader-dot:nth-child(2):before {
    animation-delay: -1s;
}

.hr-hld-loader-dot:nth-child(3):before {
    animation-delay: -0.9s;
}

.hr-hld-loader-dot:nth-child(4):before {
    animation-delay: -0.8s;
}

.hr-hld-loader-dot:nth-child(5):before {
    animation-delay: -0.7s;
}

.hr-hld-loader-dot:nth-child(6):before {
    animation-delay: -0.6s;
}

@keyframes hr-hld-loader {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hr-hld-loader-dot {
    80%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes hr-hld-loader-dot-before {
    50% {
        transform: scale(0.4);
    }

    100%,
    0% {
        transform: scale(1);
    }
}

.hr-hld-loader-line {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    position: relative;
    color: $grey-dark;
    box-sizing: border-box;
    animation: hr-hld-loader-line 2s linear infinite;
    margin-left: 35px;
    transition: opacity 0.3s ease-in-out;
}

@keyframes hr-hld-loader-line {
    0% {
        box-shadow:
            14px 0 0 -2px,
            38px 0 0 -2px,
            -14px 0 0 -2px,
            -38px 0 0 -2px;
    }

    25% {
        box-shadow:
            14px 0 0 -2px,
            38px 0 0 -2px,
            -14px 0 0 -2px,
            -38px 0 0 2px;
    }

    50% {
        box-shadow:
            14px 0 0 -2px,
            38px 0 0 -2px,
            -14px 0 0 2px,
            -38px 0 0 -2px;
    }

    75% {
        box-shadow:
            14px 0 0 2px,
            38px 0 0 -2px,
            -14px 0 0 -2px,
            -38px 0 0 -2px;
    }

    100% {
        box-shadow:
            14px 0 0 -2px,
            38px 0 0 2px,
            -14px 0 0 -2px,
            -38px 0 0 -2px;
    }
}

.hr-hld-loader-progress {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: $grey-lighter;
    overflow: hidden;
}

html.theme-dark .hr-hld-loader-progress {
    background: $grey;
}

html.theme-dark .hr-hld-loader-progress::after {
    background: $grey-lighter;
}

.hr-hld-loader-progress::after {
    content: "";
    width: 192px;
    height: 4.8px;
    background: $grey;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: hr-hld-loader-animationLoader2 2s linear infinite;
}

@keyframes hr-hld-loader-animationLoader2 {
    0% {
        left: 0;
        transform: translateX(-100%);
    }

    100% {
        left: 100%;
        transform: translateX(0%);
    }
}
