<div class="hr-hld-loader">
    <div class="hr-hld-loader-dot"/>
    <div class="hr-hld-loader-dot"/>
    <div class="hr-hld-loader-dot"/>
    <div class="hr-hld-loader-dot"/>
    <div class="hr-hld-loader-dot"/>
    <div class="hr-hld-loader-dot"/>
</div>
