@import "../../../view/variables.scss";

.hr-wy-wrap {
    width: 100%;
    border: 1px solid $grey-lighter;
    border-radius: $radius;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.hr-wy-controls {
    width: 100%;
    background: $white;
    border-bottom: 1px solid $grey-lighter;
}

.hr-wy-editor {
    width: 100%;
    flex: auto;
    background: $white;
    border-radius: $radius;
    outline: 0 !important;
    padding: 10px;
    overflow: auto;
}

.hr-wy-control-button {
    width: 29px;
    height: 29px;
    padding: 0;
    background: $white-ter;
    border: 0;
    border-radius: $radius;
    margin-left: 1px;
    margin-right: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 1px;
}

.hr-wy-control-button:hover {
    background: $grey-lightest;
}

.hr-wy-control-button-selected {
    background: $blue !important;
}

.hr-wy-control-button-selected>svg>path {
    fill: $white;
}