<if(state.isActive)>
    <div class="hr-loader-overlay">
        <div class="hr-loader">
            <div class="hr-loader-dot"/>
            <div class="hr-loader-dot"/>
            <div class="hr-loader-dot"/>
            <div class="hr-loader-dot"/>
            <div class="hr-loader-dot"/>
            <div class="hr-loader-dot"/>
        </div>
    </div>
</if>
