@import "~styles/variables.scss";

.hr-browserError-overlay {
    position: fixed;
    top: 0;
    left: 0;
    // background: $grey-darker;
    background: $blue;
    z-index: 140;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

html.heretic-dark .hr-browserError-overlay {
    background: darken($blue, 40%);
}

.hr-browserError-robot-icon {
    width: 32px;
    height: 24px;
}

.hr-browserError-robot-icon-wrap {
    margin-top: 2px;
}

.hr-browserError-robot-icon-wrap path {
    fill: $white;
}

.hr-browserError-message {
    color: $white;
    font-weight: 100;
    font-size: 120%;
}