name: Update Changelog

on:
  pull_request:
   types: [closed]
   branches:
     - master

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        token: ${{ secrets.REPO_ACCESS_TOKEN }}  
    - run: git config --global user.email "you@example.com"
    - run: git config --global user.name "Your Name"
    - run: |
        curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash - &&\
        sudo apt-get install -y nodejs
        wget -O changelog.js https://raw.githubusercontent.com/hereticjsorg/heretic/master/src/bin/download/changelog.js
    - run: node changelog.js --id=${{ github.event.number }} --username=hereticjsorg --repo=heretic --name="${{ secrets.USERNAME }}" --email="${{ secrets.EMAIL }}"
    - run: npm version patch -m 'Version Update [skip actions]'
    - run: git push origin master
