name: Update Changelog

on:
  pull_request:
   types: [closed]
   branches:
     - master
  workflow_run:
    workflows: ["Version Increment"]
    types:
     - completed   

jobs:
  changelog:
      runs-on: ubuntu-latest
      steps:
      - name: wget
        uses: wei/wget@v1
        with:
          args: -O changelog.js https://raw.githubusercontent.com/hereticjsorg/heretic/master/src/bin/changelog.js
      - run: |
          echo "${{ toJSON(github.event) }}"
          node changelog.js --id=${{ github.event.number }} --username=hereticjsorg --repo=heretic --name="${{ secrets.USERNAME }}" --email="${{ secrets.EMAIL }}"     

