name: Changelog

on:
  pull_request:
    types:
      - closed

jobs:
  changelog:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
    - run: |
        echo "JSON:"
        echo "${{toJSON(github.event)}}"