@import "~styles/variables.scss";

.hr-menu-item {
    padding-bottom: 12px !important;
    margin-top: 1px;
}

.hr-menu-card {
    width: 230px;
    padding: 4px 5px 5px 5px;
}

.hr-menu-wrap {
    width: 250px;
    min-width: 250px;
    background: $white-ter;
    padding: 10px;
    margin-top: 1px;
    display: flex;
    user-select: none;
}

html.heretic-dark .hr-menu-wrap {
    background: darken($heretic-dark-grey-darker, 10%);
}

html.heretic-dark .hr-menu-card {
    background: lighten($heretic-dark-grey-darker, 10%) !important;
}

html.heretic-dark .hr-icon-admin-wrap>svg>path {
    fill: $heretic-dark-text-color-light;
}

.hr-menu-wrap>aside {
    width: 100%;
}

.hr-menu-wrap * .menu-label {
    color: $grey-lighter;
}

.hr-menu-wrap * a:not(.is-active) {
    color: $grey-darker;
}

.hr-menu-wrap>*>.menu-list>*>a:hover:not(.is-active) {
    color: $grey-darker;
}

.hr-menu-icon>svg>path {
    fill: $grey-darker;
}

.hr-menu-item.is-active,
.hr-menu-item.is-active:hover {
    background: $primary !important;
}

.hr-menu-item:not(.is-active):hover {
    background: $grey-lighter !important;
}

.hr-menu-item:hover:not(.is-active)>.hr-menu-icon>svg>path {
    fill: $grey-darker;
}

.hr-menu-item.is-active>.hr-menu-icon>svg>path {
    fill: $white;
}