@import "~styles/variables.scss";

.hr-menu-item {
    padding-bottom: 12px !important;
    margin-top: 1px;
}

.hr-menu-card {
    width: 230px;
    padding: 6px 5px 6px 6px;
}

.hr-menu-wrap {
    width: 250px;
    min-width: 250px;
    // background: $white-ter;
    padding: 10px;
    margin-top: 1px;
    display: flex;
    user-select: none;
}

// html.theme-dark .hr-menu-wrap {
//     background: darken($theme-dark-grey-darker, 10%);
// }

// html.theme-dark .hr-menu-card {
//     background: lighten($theme-dark-grey-darker, 10%) !important;
// }

// html.theme-dark .hr-icon-admin-wrap>svg>path {
//     fill: $theme-dark-text-color-light;
// }

.hr-menu-wrap>aside {
    width: 100%;
}

.hr-menu-icon>svg>path {
    fill: $grey-darker;
}

.hr-menu-item {
    border-radius: var(--bulma-card-radius) !important;
}

.hr-menu-item.is-active,
.hr-menu-item.is-active:hover {
    background: $primary !important;
}

.hr-menu-item.is-active>.hr-menu-icon>svg>path,
html.theme-dark .hr-menu-item>.hr-menu-icon>svg>path {
    fill: $white-ter;
}